.syntaxhighlighter A {
	BOX-SIZING: content-box !important; BORDER-BOTTOM: 0px; POSITION: static !important; TEXT-ALIGN: left !important; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 1.1em !important; FONT-STYLE: normal !important; MARGIN: 0px; OUTLINE-STYLE: none !important; OUTLINE-COLOR: invert !important; MIN-HEIGHT: auto !important; PADDING-LEFT: 0px !important; OUTLINE-WIDTH: 0px !important; WIDTH: auto !important; BOTTOM: auto !important; PADDING-RIGHT: 0px !important; FONT-FAMILY: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none !important; HEIGHT: auto !important; FONT-SIZE: 1em !important; VERTICAL-ALIGN: baseline !important; OVERFLOW: visible !important; BORDER-TOP: 0px; TOP: auto !important; RIGHT: auto !important; FONT-WEIGHT: normal !important; BORDER-RIGHT: 0px; PADDING-TOP: 0px !important; LEFT: auto !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0
}
.syntaxhighlighter DIV {
	BOX-SIZING: content-box !important; BORDER-BOTTOM: 0px; POSITION: static !important; TEXT-ALIGN: left !important; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 1.1em !important; FONT-STYLE: normal !important; MARGIN: 0px; OUTLINE-STYLE: none !important; OUTLINE-COLOR: invert !important; MIN-HEIGHT: auto !important; PADDING-LEFT: 0px !important; OUTLINE-WIDTH: 0px !important; WIDTH: auto !important; BOTTOM: auto !important; PADDING-RIGHT: 0px !important; FONT-FAMILY: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none !important; HEIGHT: auto !important; FONT-SIZE: 1em !important; VERTICAL-ALIGN: baseline !important; OVERFLOW: visible !important; BORDER-TOP: 0px; TOP: auto !important; RIGHT: auto !important; FONT-WEIGHT: normal !important; BORDER-RIGHT: 0px; PADDING-TOP: 0px !important; LEFT: auto !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0
}
.syntaxhighlighter CODE {
	BOX-SIZING: content-box !important; BORDER-BOTTOM: 0px; POSITION: static !important; TEXT-ALIGN: left !important; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 1.1em !important; FONT-STYLE: normal !important; MARGIN: 0px; OUTLINE-STYLE: none !important; OUTLINE-COLOR: invert !important; MIN-HEIGHT: auto !important; PADDING-LEFT: 0px !important; OUTLINE-WIDTH: 0px !important; WIDTH: auto !important; BOTTOM: auto !important; PADDING-RIGHT: 0px !important; FONT-FAMILY: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none !important; HEIGHT: auto !important; FONT-SIZE: 1em !important; VERTICAL-ALIGN: baseline !important; OVERFLOW: visible !important; BORDER-TOP: 0px; TOP: auto !important; RIGHT: auto !important; FONT-WEIGHT: normal !important; BORDER-RIGHT: 0px; PADDING-TOP: 0px !important; LEFT: auto !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0
}
.syntaxhighlighter TABLE {
	BOX-SIZING: content-box !important; BORDER-BOTTOM: 0px; POSITION: static !important; TEXT-ALIGN: left !important; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 1.1em !important; FONT-STYLE: normal !important; MARGIN: 0px; OUTLINE-STYLE: none !important; OUTLINE-COLOR: invert !important; MIN-HEIGHT: auto !important; PADDING-LEFT: 0px !important; OUTLINE-WIDTH: 0px !important; WIDTH: auto !important; BOTTOM: auto !important; PADDING-RIGHT: 0px !important; FONT-FAMILY: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none !important; HEIGHT: auto !important; FONT-SIZE: 1em !important; VERTICAL-ALIGN: baseline !important; OVERFLOW: visible !important; BORDER-TOP: 0px; TOP: auto !important; RIGHT: auto !important; FONT-WEIGHT: normal !important; BORDER-RIGHT: 0px; PADDING-TOP: 0px !important; LEFT: auto !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0
}
.syntaxhighlighter TABLE TD {
	BOX-SIZING: content-box !important; BORDER-BOTTOM: 0px; POSITION: static !important; TEXT-ALIGN: left !important; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 1.1em !important; FONT-STYLE: normal !important; MARGIN: 0px; OUTLINE-STYLE: none !important; OUTLINE-COLOR: invert !important; MIN-HEIGHT: auto !important; PADDING-LEFT: 0px !important; OUTLINE-WIDTH: 0px !important; WIDTH: auto !important; BOTTOM: auto !important; PADDING-RIGHT: 0px !important; FONT-FAMILY: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none !important; HEIGHT: auto !important; FONT-SIZE: 1em !important; VERTICAL-ALIGN: baseline !important; OVERFLOW: visible !important; BORDER-TOP: 0px; TOP: auto !important; RIGHT: auto !important; FONT-WEIGHT: normal !important; BORDER-RIGHT: 0px; PADDING-TOP: 0px !important; LEFT: auto !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0
}
.syntaxhighlighter TABLE TR {
	BOX-SIZING: content-box !important; BORDER-BOTTOM: 0px; POSITION: static !important; TEXT-ALIGN: left !important; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 1.1em !important; FONT-STYLE: normal !important; MARGIN: 0px; OUTLINE-STYLE: none !important; OUTLINE-COLOR: invert !important; MIN-HEIGHT: auto !important; PADDING-LEFT: 0px !important; OUTLINE-WIDTH: 0px !important; WIDTH: auto !important; BOTTOM: auto !important; PADDING-RIGHT: 0px !important; FONT-FAMILY: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none !important; HEIGHT: auto !important; FONT-SIZE: 1em !important; VERTICAL-ALIGN: baseline !important; OVERFLOW: visible !important; BORDER-TOP: 0px; TOP: auto !important; RIGHT: auto !important; FONT-WEIGHT: normal !important; BORDER-RIGHT: 0px; PADDING-TOP: 0px !important; LEFT: auto !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0
}
.syntaxhighlighter TABLE TBODY {
	BOX-SIZING: content-box !important; BORDER-BOTTOM: 0px; POSITION: static !important; TEXT-ALIGN: left !important; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 1.1em !important; FONT-STYLE: normal !important; MARGIN: 0px; OUTLINE-STYLE: none !important; OUTLINE-COLOR: invert !important; MIN-HEIGHT: auto !important; PADDING-LEFT: 0px !important; OUTLINE-WIDTH: 0px !important; WIDTH: auto !important; BOTTOM: auto !important; PADDING-RIGHT: 0px !important; FONT-FAMILY: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none !important; HEIGHT: auto !important; FONT-SIZE: 1em !important; VERTICAL-ALIGN: baseline !important; OVERFLOW: visible !important; BORDER-TOP: 0px; TOP: auto !important; RIGHT: auto !important; FONT-WEIGHT: normal !important; BORDER-RIGHT: 0px; PADDING-TOP: 0px !important; LEFT: auto !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0
}
.syntaxhighlighter TABLE THEAD {
	BOX-SIZING: content-box !important; BORDER-BOTTOM: 0px; POSITION: static !important; TEXT-ALIGN: left !important; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 1.1em !important; FONT-STYLE: normal !important; MARGIN: 0px; OUTLINE-STYLE: none !important; OUTLINE-COLOR: invert !important; MIN-HEIGHT: auto !important; PADDING-LEFT: 0px !important; OUTLINE-WIDTH: 0px !important; WIDTH: auto !important; BOTTOM: auto !important; PADDING-RIGHT: 0px !important; FONT-FAMILY: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none !important; HEIGHT: auto !important; FONT-SIZE: 1em !important; VERTICAL-ALIGN: baseline !important; OVERFLOW: visible !important; BORDER-TOP: 0px; TOP: auto !important; RIGHT: auto !important; FONT-WEIGHT: normal !important; BORDER-RIGHT: 0px; PADDING-TOP: 0px !important; LEFT: auto !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0
}
.syntaxhighlighter TABLE CAPTION {
	BOX-SIZING: content-box !important; BORDER-BOTTOM: 0px; POSITION: static !important; TEXT-ALIGN: left !important; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 1.1em !important; FONT-STYLE: normal !important; MARGIN: 0px; OUTLINE-STYLE: none !important; OUTLINE-COLOR: invert !important; MIN-HEIGHT: auto !important; PADDING-LEFT: 0px !important; OUTLINE-WIDTH: 0px !important; WIDTH: auto !important; BOTTOM: auto !important; PADDING-RIGHT: 0px !important; FONT-FAMILY: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none !important; HEIGHT: auto !important; FONT-SIZE: 1em !important; VERTICAL-ALIGN: baseline !important; OVERFLOW: visible !important; BORDER-TOP: 0px; TOP: auto !important; RIGHT: auto !important; FONT-WEIGHT: normal !important; BORDER-RIGHT: 0px; PADDING-TOP: 0px !important; LEFT: auto !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0
}
.syntaxhighlighter TEXTAREA {
	BOX-SIZING: content-box !important; BORDER-BOTTOM: 0px; POSITION: static !important; TEXT-ALIGN: left !important; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 1.1em !important; FONT-STYLE: normal !important; MARGIN: 0px; OUTLINE-STYLE: none !important; OUTLINE-COLOR: invert !important; MIN-HEIGHT: auto !important; PADDING-LEFT: 0px !important; OUTLINE-WIDTH: 0px !important; WIDTH: auto !important; BOTTOM: auto !important; PADDING-RIGHT: 0px !important; FONT-FAMILY: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none !important; HEIGHT: auto !important; FONT-SIZE: 1em !important; VERTICAL-ALIGN: baseline !important; OVERFLOW: visible !important; BORDER-TOP: 0px; TOP: auto !important; RIGHT: auto !important; FONT-WEIGHT: normal !important; BORDER-RIGHT: 0px; PADDING-TOP: 0px !important; LEFT: auto !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0
}
.syntaxhighlighter {
	POSITION: relative !important; MARGIN: 1em 0px; WIDTH: 100% !important; FONT-SIZE: 1em !important; OVERFLOW: auto !important
}
.source.syntaxhighlighter {
	OVERFLOW: hidden !important
}
.syntaxhighlighter .bold {
	FONT-WEIGHT: bold !important
}
.syntaxhighlighter .italic {
	FONT-STYLE: italic !important
}
.syntaxhighlighter .line {
	WHITE-SPACE: pre !important
}
.syntaxhighlighter TABLE {
	WIDTH: 100% !important
}
.syntaxhighlighter TABLE CAPTION {
	TEXT-ALIGN: left !important; PADDING-BOTTOM: 0.5em !important; PADDING-LEFT: 1em !important; PADDING-RIGHT: 0px !important; PADDING-TOP: 0.5em !important
}
.syntaxhighlighter TABLE TD.code {
	WIDTH: 100% !important
}
.syntaxhighlighter TABLE TD.code .container {
	POSITION: relative !important
}
.syntaxhighlighter TABLE TD.code .container TEXTAREA {
	BOX-SIZING: border-box !important; BORDER-BOTTOM: medium none; POSITION: absolute !important; BORDER-LEFT: medium none; PADDING-LEFT: 1em !important; WIDTH: 100% !important; WHITE-SPACE: pre !important; BACKGROUND: white; HEIGHT: 100% !important; OVERFLOW: hidden !important; BORDER-TOP: medium none; TOP: 0px !important; BORDER-RIGHT: medium none; LEFT: 0px !important
}
.syntaxhighlighter TABLE TD.gutter .line {
	TEXT-ALIGN: right !important; PADDING-BOTTOM: 0px !important; PADDING-LEFT: 1em !important; PADDING-RIGHT: 0.5em !important; PADDING-TOP: 0px !important
}
.syntaxhighlighter TABLE TD.code .line {
	PADDING-BOTTOM: 0px !important; PADDING-LEFT: 1em !important; PADDING-RIGHT: 1em !important; PADDING-TOP: 0px !important
}
.nogutter.syntaxhighlighter TD.code .container TEXTAREA {
	PADDING-LEFT: 0em !important
}
.nogutter.syntaxhighlighter TD.code .line {
	PADDING-LEFT: 0em !important
}
.show.syntaxhighlighter {
	DISPLAY: block !important
}
.collapsed.syntaxhighlighter TABLE {
	DISPLAY: none !important
}
.collapsed.syntaxhighlighter .toolbar {
	POSITION: static !important; PADDING-BOTTOM: 0em !important; PADDING-LEFT: 0.8em !important; WIDTH: auto !important; PADDING-RIGHT: 0.8em !important; HEIGHT: auto !important; FONT-SIZE: 1em !important; PADDING-TOP: 0.1em !important
}
.collapsed.syntaxhighlighter .toolbar SPAN {
	DISPLAY: inline !important; MARGIN-RIGHT: 1em !important
}
.collapsed.syntaxhighlighter .toolbar SPAN A {
	PADDING-BOTTOM: 0px !important; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; DISPLAY: none !important; PADDING-TOP: 0px !important
}
.collapsed.syntaxhighlighter .toolbar SPAN A.expandSource {
	DISPLAY: inline !important
}
.syntaxhighlighter .toolbar {
	Z-INDEX: 10 !important; POSITION: absolute !important; WIDTH: 11px !important; HEIGHT: 11px !important; FONT-SIZE: 10px !important; TOP: 1px !important; RIGHT: 1px !important
}
.syntaxhighlighter .toolbar SPAN.title {
	DISPLAY: inline !important
}
.syntaxhighlighter .toolbar A {
	TEXT-ALIGN: center !important; DISPLAY: block !important; TEXT-DECORATION: none !important; PADDING-TOP: 1px !important
}
.syntaxhighlighter .toolbar A.expandSource {
	DISPLAY: none !important
}
.ie.syntaxhighlighter {
	PADDING-BOTTOM: 1px !important; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; FONT-SIZE: 0.9em !important; PADDING-TOP: 1px !important
}
.ie.syntaxhighlighter .toolbar {
	LINE-HEIGHT: 8px !important
}
.ie.syntaxhighlighter .toolbar A {
	PADDING-TOP: 0px !important
}
.printing.syntaxhighlighter .alt1.line .content {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.printing.syntaxhighlighter .alt2.line .content {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.printing.syntaxhighlighter .highlighted.line .number {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.printing.syntaxhighlighter .alt1.highlighted.line .content {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.printing.syntaxhighlighter .alt2.highlighted.line .content {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.printing.syntaxhighlighter .line .number {
	COLOR: #bbbbbb !important
}
.printing.syntaxhighlighter .line .content {
	COLOR: black !important
}
.printing.syntaxhighlighter .toolbar {
	DISPLAY: none !important
}
.printing.syntaxhighlighter A {
	TEXT-DECORATION: none !important
}
.printing.syntaxhighlighter .plain {
	COLOR: black !important
}
.printing.syntaxhighlighter .plain A {
	COLOR: black !important
}
.printing.syntaxhighlighter .comments {
	COLOR: #008200 !important
}
.printing.syntaxhighlighter .comments A {
	COLOR: #008200 !important
}
.printing.syntaxhighlighter .string {
	COLOR: blue !important
}
.printing.syntaxhighlighter .string A {
	COLOR: blue !important
}
.printing.syntaxhighlighter .keyword {
	COLOR: #006699 !important; FONT-WEIGHT: bold !important
}
.printing.syntaxhighlighter .preprocessor {
	COLOR: gray !important
}
.printing.syntaxhighlighter .variable {
	COLOR: #aa7700 !important
}
.printing.syntaxhighlighter .value {
	COLOR: #009900 !important
}
.printing.syntaxhighlighter .functions {
	COLOR: #ff1493 !important
}
.printing.syntaxhighlighter .constants {
	COLOR: #0066cc !important
}
.printing.syntaxhighlighter .script {
	FONT-WEIGHT: bold !important
}
.printing.syntaxhighlighter .color1 {
	COLOR: gray !important
}
.printing.syntaxhighlighter .color1 A {
	COLOR: gray !important
}
.printing.syntaxhighlighter .color2 {
	COLOR: #ff1493 !important
}
.printing.syntaxhighlighter .color2 A {
	COLOR: #ff1493 !important
}
.printing.syntaxhighlighter .color3 {
	COLOR: red !important
}
.printing.syntaxhighlighter .color3 A {
	COLOR: red !important
}
.printing.syntaxhighlighter .break {
	COLOR: black !important
}
.printing.syntaxhighlighter .break A {
	COLOR: black !important
}
