HTML {
	_background: url(*) fixed
}
BODY {
	MARGIN: 0px; _height: 100%
}
#asyncbox_cover {
	POSITION: fixed; WIDTH: 100%; HEIGHT: 100%; TOP: 0px; LEFT: 0px; _position: absolute
}
#asyncbox_focus {
	POSITION: fixed; WIDTH: 100%; HEIGHT: 100%; TOP: 0px; LEFT: 0px; _position: absolute
}
.asyncbox_max {
	POSITION: fixed; WIDTH: 100%; HEIGHT: 100%; TOP: 0px; LEFT: 0px; _position: absolute
}
#asyncbox_cover {
	DISPLAY: none; OVERFLOW: hidden
}
#asyncbox_focus {
	DISPLAY: none; OVERFLOW: hidden
}
#asyncbox_clone {
	DISPLAY: none; OVERFLOW: hidden
}
#asyncbox_cover DIV {
	POSITION: absolute; FILTER: alpha(opacity=0); WIDTH: 100%; BACKGROUND: #fff; HEIGHT: 100%; opacity: 0
}
#asyncbox_cover IFRAME {
	POSITION: absolute; FILTER: alpha(opacity=0); WIDTH: 100%; BACKGROUND: #fff; HEIGHT: 100%; opacity: 0
}
.asyncbox_select {
	POSITION: absolute; FILTER: alpha(opacity=0); WIDTH: 100%; BACKGROUND: #fff; HEIGHT: 100%; opacity: 0
}
#asyncbox_focus {
	POSITION: absolute; FILTER: alpha(opacity=0); WIDTH: 100%; BACKGROUND: #fff; HEIGHT: 100%; opacity: 0
}
.asyncbox_select {
	Z-INDEX: -1
}
#asyncbox_focus {
	Z-INDEX: 3000; POSITION: fixed; _position: absolute
}
#asyncbox_clone {
	Z-INDEX: 3000; BORDER-BOTTOM: #006 1px dashed; POSITION: absolute; BORDER-LEFT: #006 1px dashed; BORDER-TOP: #006 1px dashed; BORDER-RIGHT: #006 1px dashed
}
#asyncbox_load {
	BACKGROUND: url(images/asyncbox_bg.gif)
}
#asyncbox_load DIV {
	BACKGROUND: url(images/asyncbox_title_bottom.gif)
}
#asyncbox_load SPAN {
	BACKGROUND: url(images/asynctips_bg.gif)
}
.asyncbox_wait {
	POSITION: absolute; FILTER: alpha(opacity=80); PADDING-BOTTOM: 4px; LINE-HEIGHT: 15px; TEXT-INDENT: 3px; PADDING-LEFT: 4px; BOTTOM: 4px; PADDING-RIGHT: 4px; BACKGROUND: url(images/wait_bg.gif) no-repeat 100% 0px; HEIGHT: 14px; COLOR: #033; OVERFLOW: hidden; PADDING-TOP: 4px; LEFT: 4px; _text-indent: 0; opacity: 0.8
}
.asyncbox_wait SPAN {
	WIDTH: 16px; BACKGROUND: url(images/wait.gif) no-repeat; FLOAT: left; HEIGHT: 16px
}
.asyncbox_auto {
	POSITION: absolute; FONT: 12px Tahoma, sans-serif
}
.asyncbox_normal {
	POSITION: absolute; FONT: 12px Tahoma, sans-serif
}
.asyncbox_max {
	POSITION: absolute; FONT: 12px Tahoma, sans-serif
}
.asyncbox_auto TABLE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.asyncbox_normal TABLE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.asyncbox_max TABLE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.asyncbox_auto UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.asyncbox_normal UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.asyncbox_max UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.asyncbox_max {
	POSITION: fixed; _position: absolute
}
.asyncbox_table {
	WIDTH: 100%; HEIGHT: auto
}
.asyncbox_auto .asyncbox_table {
	WIDTH: auto; HEIGHT: auto
}
.b_t_l {
	BACKGROUND: #839ec4
}
.b_t_r {
	BACKGROUND: #839ec4
}
.b_tipsbar_l {
	BACKGROUND: #839ec4
}
.b_tipsbar_r {
	BACKGROUND: #839ec4
}
.b_m_l {
	BACKGROUND: #839ec4
}
.b_m_r {
	BACKGROUND: #839ec4
}
.b_btnsbar_l {
	BACKGROUND: #839ec4
}
.b_btnsbar_r {
	BACKGROUND: #839ec4
}
.b_b_l {
	BACKGROUND: #839ec4
}
.b_b_r {
	BACKGROUND: #839ec4
}
.b_t_m {
	LINE-HEIGHT: 25px; HEIGHT: 25px
}
.asyncbox_title LI {
	LINE-HEIGHT: 25px; HEIGHT: 25px
}
.b_t_m {
	BACKGROUND: #839ec4
}
.b_b_m {
	BACKGROUND: #839ec4
}
.b_t_l {
	WIDTH: 4px; BACKGROUND-POSITION: -11px -41px
}
.b_t_r {
	WIDTH: 4px; BACKGROUND-POSITION: -11px -41px
}
.b_t_r {
	BACKGROUND-POSITION: -16px -41px
}
.a_m_m {
	BACKGROUND: #f4f4f4; VERTICAL-ALIGN: top
}
.b_m_m {
	BACKGROUND: #f4f4f4; VERTICAL-ALIGN: top
}
.b_m_m {
	BACKGROUND: #fff
}
.b_m_l {
	BACKGROUND-REPEAT: repeat-y
}
.b_m_r {
	BACKGROUND-REPEAT: repeat-y
}
.b_tipsbar_l {
	BACKGROUND-REPEAT: repeat-y
}
.b_tipsbar_r {
	BACKGROUND-REPEAT: repeat-y
}
.b_btnsbar_l {
	BACKGROUND-REPEAT: repeat-y
}
.b_btnsbar_r {
	BACKGROUND-REPEAT: repeat-y
}
.b_m_r {
	BACKGROUND-POSITION: -5px 0px
}
.b_tipsbar_r {
	BACKGROUND-POSITION: -5px 0px
}
.b_btnsbar_r {
	BACKGROUND-POSITION: -5px 0px
}
.b_b_l {
	BACKGROUND-POSITION: -11px -67px
}
.b_b_m {
	BACKGROUND-POSITION: 0px -26px; HEIGHT: 4px
}
.b_b_r {
	BACKGROUND-POSITION: -16px -67px
}
.b_tipsbar_m {
	BACKGROUND: url(images/asyncbox_tipsbar_bg.gif) #eaece9 no-repeat 100% 100%; HEIGHT: 60px
}
.b_tipsbar_layout {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 60px; PADDING-RIGHT: 10px; BACKGROUND: url(images/asyncbox_tipsbar_icon.gif) no-repeat 15px 15px; PADDING-TOP: 10px
}
.b_tipsbar_title {
	TEXT-ALIGN: left; COLOR: #000
}
.b_tipsbar_content {
	TEXT-ALIGN: left; LINE-HEIGHT: 16px; TEXT-INDENT: 2em; COLOR: #777
}
.asyncbox_title LI {
	FLOAT: left
}
.asyncbox_title_icon {
	MARGIN: 0px 2px; WIDTH: 14px; BACKGROUND: url(images/icon.gif) no-repeat 0px 7px
}
.asyncbox_title_tips {
	PADDING-RIGHT: 20px; COLOR: #fff; OVERFLOW: hidden; CURSOR: default
}
.asyncbox_close {
	BORDER-BOTTOM: medium none; POSITION: absolute; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LINE-HEIGHT: 60px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 25px; PADDING-RIGHT: 0px; BACKGROUND: url(images/close.gif); HEIGHT: 24px; OVERFLOW: hidden; BORDER-TOP: medium none; TOP: 0px; CURSOR: default; RIGHT: 4px; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.asyncbox_close:hover {
	BACKGROUND: url(images/close.gif); CURSOR: pointer
}
.asyncbox_alert {
	TEXT-ALIGN: left; LINE-HEIGHT: 18px; MARGIN: 12px; PADDING-LEFT: 40px; COLOR: #033
}
.asyncbox_confirm {
	TEXT-ALIGN: left; LINE-HEIGHT: 18px; MARGIN: 12px; PADDING-LEFT: 40px; COLOR: #033
}
.asyncbox_success {
	TEXT-ALIGN: left; LINE-HEIGHT: 18px; MARGIN: 12px; PADDING-LEFT: 40px; COLOR: #033
}
.asyncbox_warning {
	TEXT-ALIGN: left; LINE-HEIGHT: 18px; MARGIN: 12px; PADDING-LEFT: 40px; COLOR: #033
}
.asyncbox_error {
	TEXT-ALIGN: left; LINE-HEIGHT: 18px; MARGIN: 12px; PADDING-LEFT: 40px; COLOR: #033
}
.asyncbox_alert SPAN {
	POSITION: absolute; WIDTH: 32px; BACKGROUND: url(images/asyncbox_bg.gif) no-repeat -58px -4px; HEIGHT: 32px; TOP: 35px; LEFT: 15px
}
.asyncbox_confirm SPAN {
	POSITION: absolute; WIDTH: 32px; BACKGROUND: url(images/asyncbox_bg.gif) no-repeat -58px -4px; HEIGHT: 32px; TOP: 35px; LEFT: 15px
}
.asyncbox_success SPAN {
	POSITION: absolute; WIDTH: 32px; BACKGROUND: url(images/asyncbox_bg.gif) no-repeat -58px -4px; HEIGHT: 32px; TOP: 35px; LEFT: 15px
}
.asyncbox_warning SPAN {
	POSITION: absolute; WIDTH: 32px; BACKGROUND: url(images/asyncbox_bg.gif) no-repeat -58px -4px; HEIGHT: 32px; TOP: 35px; LEFT: 15px
}
.asyncbox_error SPAN {
	POSITION: absolute; WIDTH: 32px; BACKGROUND: url(images/asyncbox_bg.gif) no-repeat -58px -4px; HEIGHT: 32px; TOP: 35px; LEFT: 15px
}
.asyncbox_confirm SPAN {
	BACKGROUND-POSITION: -90px -4px
}
.asyncbox_success SPAN {
	BACKGROUND-POSITION: -122px -4px
}
.asyncbox_warning SPAN {
	BACKGROUND-POSITION: -154px -4px
}
.asyncbox_error SPAN {
	BACKGROUND-POSITION: -186px -4px
}
.asyncbox_error {
	COLOR: #f00
}
.asyncbox_prompt {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #033; PADDING-TOP: 0px
}
.asyncbox_prompt LI {
	MARGIN-TOP: 8px
}
.asyncbox_prompt INPUT {
	BORDER-BOTTOM: #5a7ead 1px solid; BORDER-LEFT: #5a7ead 1px solid; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; FONT: 12px/1.3em Verdana, sans-serif; COLOR: #666; BORDER-TOP: #5a7ead 1px solid; BORDER-RIGHT: #5a7ead 1px solid; PADDING-TOP: 3px; resize: none
}
.asyncbox_prompt TEXTAREA {
	BORDER-BOTTOM: #5a7ead 1px solid; BORDER-LEFT: #5a7ead 1px solid; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; FONT: 12px/1.3em Verdana, sans-serif; COLOR: #666; BORDER-TOP: #5a7ead 1px solid; BORDER-RIGHT: #5a7ead 1px solid; PADDING-TOP: 3px; resize: none
}
.asyncbox_prompt INPUT {
	HEIGHT: 15px
}
.a_btnsbar_m {
	BACKGROUND: #f4f4f4; HEIGHT: 40px
}
.b_btnsbar_m {
	BACKGROUND: #f4f4f4; HEIGHT: 40px
}
.b_btnsbar_m {
	HEIGHT: 38px; BORDER-TOP: #fcc 1px solid
}
.a_btnsbar_m .asyncbox_btn_layout {
	TEXT-ALIGN: right; PADDING-RIGHT: 10px
}
.b_btnsbar_m .asyncbox_btn_layout {
	TEXT-ALIGN: right; PADDING-RIGHT: 8px
}
.asyncbox_btn {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline-block; BACKGROUND: url(images/asyncbox_bg.gif) no-repeat -21px -40px; HEIGHT: 22px; BORDER-TOP: medium none; CURSOR: default; BORDER-RIGHT: medium none; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.asyncbox_btn SPAN {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 11px; BACKGROUND: url(images/asyncbox_bg.gif) no-repeat 100% -40px; FLOAT: left; HEIGHT: 16px; COLOR: #444; MARGIN-LEFT: 12px; PADDING-TOP: 3px
}
.asyncbox_btn:hover {
	BACKGROUND-POSITION: -21px -62px; TEXT-DECORATION: none
}
.asyncbox_btn:hover SPAN {
	BACKGROUND-POSITION: 100% -62px
}
.asynctips {
	Z-INDEX: 3000; POSITION: absolute; HEIGHT: 38px; OVERFLOW: hidden; TOP: 0px; LEFT: 0px
}
.asynctips TABLE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.asynctips_left {
	BACKGROUND: url(images/asynctips_bg.gif) no-repeat; HEIGHT: 38px
}
.asynctips_middle {
	BACKGROUND: url(images/asynctips_bg.gif) no-repeat; HEIGHT: 38px
}
.asynctips_right {
	BACKGROUND: url(images/asynctips_bg.gif) no-repeat; HEIGHT: 38px
}
.asynctips_alert {
	BACKGROUND: url(images/asynctips_bg.gif) no-repeat; HEIGHT: 38px
}
.asynctips_success {
	BACKGROUND: url(images/asynctips_bg.gif) no-repeat; HEIGHT: 38px
}
.asynctips_error {
	BACKGROUND: url(images/asynctips_bg.gif) no-repeat; HEIGHT: 38px
}
.asynctips_wait {
	BACKGROUND: url(images/asynctips_bg.gif) no-repeat; HEIGHT: 38px
}
.asynctips_left {
	WIDTH: 5px; BACKGROUND-POSITION: 0px -26px
}
.asynctips_middle {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BACKGROUND-REPEAT: repeat-x; FONT: bold 14px Tahoma, sans-serif; BACKGROUND-POSITION: 0px -64px; COLOR: #555; PADDING-TOP: 0px
}
.asynctips_right {
	WIDTH: 5px; BACKGROUND-POSITION: -73px -26px
}
.asynctips_alert {
	WIDTH: 26px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 0px -64px
}
.asynctips_success {
	WIDTH: 26px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 0px -64px
}
.asynctips_error {
	WIDTH: 26px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 0px -64px
}
.asynctips_wait {
	WIDTH: 26px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 0px -64px
}
.asynctips_alert SPAN {
	WIDTH: 26px; DISPLAY: block; BACKGROUND: url(images/asynctips_bg.gif) no-repeat; HEIGHT: 26px
}
.asynctips_success SPAN {
	WIDTH: 26px; DISPLAY: block; BACKGROUND: url(images/asynctips_bg.gif) no-repeat; HEIGHT: 26px
}
.asynctips_error SPAN {
	WIDTH: 26px; DISPLAY: block; BACKGROUND: url(images/asynctips_bg.gif) no-repeat; HEIGHT: 26px
}
.asynctips_wait SPAN {
	WIDTH: 26px; DISPLAY: block; BACKGROUND: url(images/asynctips_bg.gif) no-repeat; HEIGHT: 26px
}
.asynctips_success SPAN {
	BACKGROUND-POSITION: -26px 0px
}
.asynctips_error SPAN {
	BACKGROUND-POSITION: -52px 0px
}
.asynctips_wait SPAN {
	BACKGROUND: url(images/wait.gif) no-repeat 6px 50%
}
