BODY {
	MARGIN: 0px; FONT-FAMILY: tahoma, 宋体; COLOR: #333; FONT-SIZE: 12px
}
TD {
	WORD-WRAP: break-word; FONT-SIZE: 12px
}
DIV {
	WORD-WRAP: break-word; FONT-SIZE: 12px
}
INPUT {
	BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; FONT-SIZE: 12px; BORDER-LEFT-WIDTH: 1px
}
BUTTON {
	BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; FONT-SIZE: 12px; BORDER-LEFT-WIDTH: 1px
}
SELECT {
	BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; FONT-SIZE: 12px; BORDER-LEFT-WIDTH: 1px
}
TEXTAREA {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; FONT-SIZE: 12px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
FORM {
	MARGIN: 0px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; _vertical-align: middle
}
BUTTON {
	BORDER-BOTTOM: #b4c91a 1px solid; BORDER-LEFT: #b4c91a 1px solid; LINE-HEIGHT: 20px; BACKGROUND: url(btnBg.gif) #fff8c5 repeat-x 0px 0px; HEIGHT: 20px; COLOR: #080; BORDER-TOP: #b4c91a 1px solid; BORDER-RIGHT: #b4c91a 1px solid
}
INPUT.btn {
	BORDER-BOTTOM: #b4c91a 1px solid; BORDER-LEFT: #b4c91a 1px solid; LINE-HEIGHT: 20px; BACKGROUND: url(btnBg.gif) #fff8c5 repeat-x 0px 0px; HEIGHT: 20px; COLOR: #080; BORDER-TOP: #b4c91a 1px solid; BORDER-RIGHT: #b4c91a 1px solid
}
.twidth {
	OVERFLOW-X: hidden; MARGIN: 0px auto; WIDTH: 970px; BACKGROUND: #fff
}
.mR {
	MARGIN-RIGHT: 5px
}
.grid {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-COLLAPSE: collapse; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.gridHead {
	TEXT-ALIGN: center; BACKGROUND: #ecf4ff; HEIGHT: 28px; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.grid TD {
	BORDER-BOTTOM-COLOR: #ccc; BORDER-TOP-COLOR: #ccc; BORDER-RIGHT-COLOR: #ccc; BORDER-LEFT-COLOR: #ccc
}
.gridHead TD {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
A:link {
	COLOR: #606060; TEXT-DECORATION: none
}
A:visited {
	COLOR: #606060; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
UL.nl {
	LIST-STYLE: none none outside; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL.nl LI {
	LINE-HEIGHT: 22px; PADDING-LEFT: 15px; BACKGROUND: url(iwms.gif) no-repeat 0px 0px
}
UL LI.fixed {
	BACKGROUND: url(iwms.gif) no-repeat 0px -50px
}
UL LI.lock {
	BACKGROUND: url(iwms.gif) no-repeat 0px -100px
}
UL.nl LI IMG {
	_margin: 6px 0
}
A.nLink {
	LINE-HEIGHT: 22px; PADDING-LEFT: 15px; BACKGROUND: url(iwms.gif) no-repeat 0px 0px; FONT-SIZE: 14px
}
A.nLock {
	LINE-HEIGHT: 22px; PADDING-LEFT: 15px; BACKGROUND: url(iwms.gif) no-repeat 0px -100px; FONT-SIZE: 14px
}
A.nFix {
	LINE-HEIGHT: 22px; PADDING-LEFT: 15px; BACKGROUND: url(iwms.gif) no-repeat 0px -50px; FONT-SIZE: 14px
}
.sep {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 15px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
UL.dnl {
	LIST-STYLE: none none outside; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL.dnl LI {
	LINE-HEIGHT: 22px
}
UL.dnl LI IMG {
	_margin: 6px 0
}
UL.dnl .diggN {
	TEXT-ALIGN: center; LINE-HEIGHT: 18px; WIDTH: 30px; FONT-FAMILY: arial; BACKGROUND: url(digg.gif) no-repeat -300px 0px; FLOAT: left; COLOR: #736948; CURSOR: pointer; MARGIN-RIGHT: 5px; TEXT-DECORATION: none
}
UL.dnl A:hover .diggN {
	BACKGROUND-POSITION: -400px 0px
}
TABLE.nl {
	WIDTH: 100%; WORD-WRAP: break-word; TABLE-LAYOUT: fixed
}
TABLE.nl THEAD TD {
	BORDER-BOTTOM: #bdd7ff 1px solid; TEXT-ALIGN: center; HEIGHT: 23px
}
TABLE.nl TR {
	LINE-HEIGHT: 25px; HEIGHT: 25px
}
TABLE.nl .nLink {
	FONT-SIZE: 14px
}
.sList {
	LIST-STYLE: none none outside; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.sList A {
	LINE-HEIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND: url(iwms.gif) no-repeat 0px -250px
}
.sList A.sOpen {
	BACKGROUND: url(iwms.gif) no-repeat 0px -300px
}
.sList .gray {
	FONT-FAMILY: arial; FONT-SIZE: 8pt
}
A.sNav {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BACKGROUND: url(iwms.gif) no-repeat 0px -350px; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
A.highlight:link {
	COLOR: red
}
A.highlight:visited {
	COLOR: red
}
A.highlight:hover {
	COLOR: red
}
#slImg {
	BORDER-BOTTOM: #999 1px solid; FILTER: progid:dximagetransform.microsoft.fade (duration=0.5,overlap=1.0); BORDER-LEFT: #999 1px solid; MARGIN: 0px auto; BORDER-TOP: #999 1px solid; BORDER-RIGHT: #999 1px solid
}
A.slOn {
	BORDER-BOTTOM: #ababab 1px solid; BORDER-LEFT: #ababab 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND: #ababab; COLOR: #fff; BORDER-TOP: #ababab 1px solid; BORDER-RIGHT: #ababab 1px solid; PADDING-TOP: 2px
}
A.slOff {
	BORDER-BOTTOM: #a6d2ff 1px solid; BORDER-LEFT: #a6d2ff 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND: #fff; COLOR: #39f; BORDER-TOP: #a6d2ff 1px solid; BORDER-RIGHT: #a6d2ff 1px solid; PADDING-TOP: 2px
}
#slNum {
	FLOAT: right
}
#slNum UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
#slNum LI {
	PADDING-LEFT: 2px; FLOAT: left
}
#slNum LI A {
	DISPLAY: block; FONT-FAMILY: arial; TEXT-DECORATION: none
}
#slLink {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 20px; PADDING-LEFT: 3px; TEXT-OVERFLOW: ellipsis; PADDING-RIGHT: 3px; WHITE-SPACE: nowrap; OVERFLOW: hidden; WORD-BREAK: keep-all; PADDING-TOP: 3px
}
#slTitle {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto; PADDING-TOP: 4px
}
#firstHeadline {
	POSITION: relative; PADDING-BOTTOM: 5px; LINE-HEIGHT: 1.5; MARGIN: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: url(bg.gif) repeat-x 0px -1100px; PADDING-TOP: 5px
}
#firstHeadline A.title {
	LINE-HEIGHT: 2; COLOR: #7455a1 !important; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
A.thisclass:link {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.thisclass:visited {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.thisclass:hover {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.aTitle {
	POSITION: relative; FONT-SIZE: 16px; FONT-WEIGHT: bold; PADDING-TOP: 10px
}
.subTitle {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#content {
	TEXT-ALIGN: justify; LINE-HEIGHT: 1.6; MARGIN: 20px auto; WIDTH: 96%; FONT-FAMILY: tahoma, 宋体; FONT-SIZE: 14px
}
#content TD {
	LINE-HEIGHT: 1.6; FONT-FAMILY: tahoma, 宋体; FONT-SIZE: 14px
}
#content DIV {
	LINE-HEIGHT: 1.6; FONT-FAMILY: tahoma, 宋体; FONT-SIZE: 14px
}
#content A:visited {
	COLOR: #b32bd5; TEXT-DECORATION: underline
}
#content A:link {
	COLOR: #b32bd5; TEXT-DECORATION: underline
}
DIV.conInfo {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 1.5; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 3px
}
UL.conInfo {
	LIST-STYLE: none none outside; PADDING-BOTTOM: 3px; LINE-HEIGHT: 1.5; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 3px
}
UL.conInfo LI {
	WIDTH: 50%; FLOAT: left
}
.icoNew1 {
	WIDTH: 10px; BACKGROUND: url(pic.gif) 0px 0px; HEIGHT: 10px
}
.icoNew2 {
	WIDTH: 10px; BACKGROUND: url(pic.gif) 0px -10px; HEIGHT: 10px
}
.icoNew3 {
	WIDTH: 10px; BACKGROUND: url(pic.gif) 0px -20px; HEIGHT: 10px
}
.icoMore {
	WIDTH: 28px; BACKGROUND: url(pic.gif) 0px -30px; HEIGHT: 5px; MARGIN-RIGHT: 5px
}
.icoRss {
	WIDTH: 33px; BACKGROUND: url(pic.gif) 0px -40px; HEIGHT: 13px
}
.icoWap {
	WIDTH: 33px; BACKGROUND: url(pic.gif) 0px -60px; HEIGHT: 13px
}
.icoEditor {
	WIDTH: 10px; BACKGROUND: url(pic.gif) 0px -80px; HEIGHT: 10px
}
.alignTop {
	VERTICAL-ALIGN: top
}
.alignCenterTop {
	TEXT-ALIGN: center; VERTICAL-ALIGN: top
}
#sitehead {
	OVERFLOW: hidden; _width: 100%
}
#sitehead .l {
	DISPLAY: none
}
#sitehead .r {
	DISPLAY: none
}
#middle {
	OVERFLOW: hidden
}
#footer {
	TEXT-ALIGN: center; LINE-HEIGHT: 1.5; MARGIN: 10px 0px
}
#navbar {
	OVERFLOW: hidden; _width: 100%
}
#navbar .m {
	BORDER-BOTTOM: #ababab 0px solid; TEXT-ALIGN: center; BORDER-LEFT: #ababab 0px solid; LINE-HEIGHT: 30px; BACKGROUND: url(bg.gif) #6bbced repeat-x 0px -200px; BORDER-TOP: #ababab 0px solid; BORDER-RIGHT: #ababab 0px solid
}
#navbar .l {
	DISPLAY: none
}
#navbar .r {
	DISPLAY: none
}
#navbar A:link {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 6px; BACKGROUND: url(iwms.gif) no-repeat 0px -150px; COLOR: #fff; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#navbar A:visited {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 6px; BACKGROUND: url(iwms.gif) no-repeat 0px -150px; COLOR: #fff; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#navbar A:hover {
	
}
#navbar A.first {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#navsub {
	OVERFLOW: hidden; _width: 100%
}
#navsub .m {
	TEXT-ALIGN: left; LINE-HEIGHT: 25px; HEIGHT: 25px
}
#navsub .l {
	DISPLAY: none
}
#navsub .r {
	DISPLAY: none
}
#oRollV {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; OVERFLOW: hidden; PADDING-TOP: 5px
}
#oRollV A {
	TEXT-ALIGN: center; PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 5px
}
#oRollV IMG {
	BORDER-RIGHT-WIDTH: 0px; MARGIN: 2px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
DIV.bulletin {
	LINE-HEIGHT: 25px; HEIGHT: 25px; OVERFLOW: hidden
}
.bulletin UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.bulletin DIV {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px !important; OVERFLOW-Y: hidden; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; HEIGHT: 25px; PADDING-TOP: 0px
}
.bulletin LI {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 10px; WHITE-SPACE: nowrap; BACKGROUND: url(iwms.gif) no-repeat 0px -700px; FLOAT: left; LIST-STYLE-IMAGE: none; MARGIN-RIGHT: 20px
}
.bulletin LI EM {
	COLOR: #999; MARGIN-LEFT: 5px; FONT-SIZE: 0.83em
}
.gray {
	COLOR: gray !important; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.time {
	COLOR: red; FONT-SIZE: 12px
}
.hit {
	COLOR: green; FONT-SIZE: 12px
}
.tdbg {
	BACKGROUND: #fafafc
}
.tdbg-dark {
	BACKGROUND: #f5f9ff
}
.scl {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.scl LI {
	DISPLAY: inline; MARGIN-RIGHT: 5px
}
.hr {
	HEIGHT: 4px; CLEAR: both; BORDER-TOP: #cef 1px solid; _overflow: hidden
}
.inputbg {
	BORDER-BOTTOM: #d5dee9 1px solid; BORDER-LEFT: #d5dee9 1px solid; BACKGROUND: url(inputBorder.gif) no-repeat left top; BORDER-TOP: #d5dee9 1px solid; BORDER-RIGHT: #d5dee9 1px solid
}
.quote {
	BORDER-BOTTOM: #eee 1px solid; BORDER-LEFT: #eee 4px solid; PADDING-BOTTOM: 5px; MARGIN: 10px 10px 10px 2em; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Arial, 宋体; BACKGROUND: #fcfcfc; BORDER-TOP: #eee 1px solid; BORDER-RIGHT: #eee 1px solid; PADDING-TOP: 5px
}
.qcode {
	BORDER-BOTTOM: #eee 1px solid; BORDER-LEFT: #eee 4px solid; PADDING-BOTTOM: 5px; MARGIN: 10px 10px 10px 2em; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Arial, 宋体; BACKGROUND: #fcfcfc; BORDER-TOP: #eee 1px solid; BORDER-RIGHT: #eee 1px solid; PADDING-TOP: 5px
}
.menuskin A:hover {
	TEXT-DECORATION: none
}
.menuitems {
	LINE-HEIGHT: 22px; MARGIN-LEFT: 3px; WORD-BREAK: keep-all
}
.menuskin {
	BACKGROUND-IMAGE: url(menu.gif); BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; TEXT-ALIGN: left; BORDER-LEFT: #ccc 1px solid; BACKGROUND-COLOR: #fff; FONT: 12px verdana; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
#mouseoverstyle {
	LINE-HEIGHT: 22px; BACKGROUND: url(menu.gif) no-repeat -250px center; MARGIN-LEFT: 3px
}
#mouseoverstyle A {
	COLOR: #666 !important
}
.menuskin A {
	PADDING-LEFT: 10px; PADDING-RIGHT: 8px; COLOR: #666 !important; TEXT-DECORATION: none
}
.mframe {
	MARGIN-BOTTOM: 4px
}
.mframe .tm {
	BORDER-BOTTOM: #ababab 1px solid; BORDER-LEFT: #ababab 1px solid; LINE-HEIGHT: 25px; BACKGROUND: url(bg.gif) repeat-x; HEIGHT: 25px; BORDER-TOP: #ababab 1px solid; BORDER-RIGHT: #ababab 1px solid
}
.mframe .tl {
	DISPLAY: none
}
.mframe .tr {
	DISPLAY: none
}
.mframe SPAN.tt {
	PADDING-LEFT: 10px; COLOR: #606060; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.mframe .mm {
	BORDER-BOTTOM: #ababab 1px solid; BORDER-LEFT: #ababab 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND: #fafafc; BORDER-TOP: 0px; BORDER-RIGHT: #ababab 1px solid; PADDING-TOP: 3px
}
.mframe .ml {
	DISPLAY: none
}
.mframe .mr {
	DISPLAY: none
}
.mframe .bm {
	DISPLAY: none
}
.mframe .bl {
	DISPLAY: none
}
.mframe .br {
	DISPLAY: none
}
.mframe UL.nl A {
	FONT-SIZE: 14px
}
.mframe UL.pl A {
	FONT-SIZE: 14px
}
.lframe {
	MARGIN-BOTTOM: 4px; _width: 100%
}
.lframe .tm {
	BORDER-BOTTOM: #ababab 1px solid; BORDER-LEFT: #ababab 1px solid; LINE-HEIGHT: 25px; BACKGROUND: url(bg.gif) repeat-x; HEIGHT: 25px; BORDER-TOP: #ababab 1px solid; BORDER-RIGHT: #ababab 1px solid
}
.lframe .tl {
	DISPLAY: none
}
.lframe .tr {
	DISPLAY: none
}
.lframe SPAN.tt {
	PADDING-LEFT: 10px; COLOR: #606060; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.lframe .mm {
	BORDER-BOTTOM: #ababab 1px solid; BORDER-LEFT: #ababab 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BORDER-TOP: 0px; BORDER-RIGHT: #ababab 1px solid; PADDING-TOP: 5px
}
.lframe .ml {
	DISPLAY: none
}
.lframe .mr {
	DISPLAY: none
}
.lframe .bm {
	DISPLAY: none
}
.lframe .bl {
	DISPLAY: none
}
.lframe .br {
	DISPLAY: none
}
.imgnews {
	MARGIN-BOTTOM: 4px; _width: 100%
}
.imgnews .tm {
	BORDER-BOTTOM: #ababab 1px solid; BORDER-LEFT: #ababab 1px solid; LINE-HEIGHT: 23px; BACKGROUND: url(bg.gif) #ecf2fc 0px -100px; HEIGHT: 23px; BORDER-TOP: #ababab 1px solid; BORDER-RIGHT: #ababab 1px solid
}
.imgnews .tl {
	DISPLAY: none
}
.imgnews .tr {
	DISPLAY: none
}
.imgnews SPAN.tt {
	PADDING-LEFT: 10px; COLOR: #606060; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
.imgnews .mm {
	BORDER-LEFT: #ababab 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; OVERFLOW: hidden; BORDER-RIGHT: #ababab 1px solid; PADDING-TOP: 3px
}
.imgnews .ml {
	DISPLAY: none
}
.imgnews .mr {
	DISPLAY: none
}
.imgnews .bm {
	BACKGROUND: #ababab; HEIGHT: 1px; _overflow: hidden
}
.imgnews .bl {
	DISPLAY: none
}
.imgnews .br {
	DISPLAY: none
}
.dayhot .tm {
	BORDER-BOTTOM: #e6f1fb 1px solid; LINE-HEIGHT: 24px; BORDER-RIGHT-WIDTH: 0px; BACKGROUND: #f1f7fc; BORDER-TOP-WIDTH: 0px; HEIGHT: 24px; BORDER-LEFT-WIDTH: 0px
}
.dayhot .tl {
	DISPLAY: none
}
.dayhot .tr {
	DISPLAY: none
}
.dayhot SPAN.tt {
	PADDING-LEFT: 10px; COLOR: #333; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.dayhot .mm {
	PADDING-BOTTOM: 3px; BORDER-RIGHT-WIDTH: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 3px
}
.dayhot .ml {
	DISPLAY: none
}
.dayhot .mr {
	DISPLAY: none
}
.dayhot .bm {
	BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 1px; _overflow: hidden
}
.dayhot .bl {
	DISPLAY: none
}
.dayhot .br {
	DISPLAY: none
}
.dateR {
	PADDING-RIGHT: 5px; FLOAT: right
}
.moreR {
	PADDING-RIGHT: 8px; FLOAT: right; _margin-top: 4px
}
#siteNav {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; OVERFLOW: auto; PADDING-TOP: 5px; _zoom: 1
}
.navChild {
	PADDING-LEFT: 20px
}
.navChild UL {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 150%; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.navChild UL LI {
	FLOAT: left
}
.imgList {
	TEXT-ALIGN: center; PADDING-BOTTOM: 5px; LINE-HEIGHT: 1.8; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; OVERFLOW: hidden; PADDING-TOP: 5px
}
.imgList UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.imgList LI {
	FLOAT: left
}
.imgList LI IMG {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 3px; MARGIN: auto; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; DISPLAY: block; BACKGROUND: #fff; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 3px; _vertical-align: bottom
}
A.imgLink IMG {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 3px; MARGIN: auto; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; DISPLAY: block; BACKGROUND: #fff; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 3px; _vertical-align: bottom
}
A.imgLink {
	LINE-HEIGHT: 1.8; MARGIN: 5px auto
}
.imgList LI A:hover IMG {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND: #f6f6f6; PADDING-TOP: 3px
}
A.imgLink:hover IMG {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND: #f6f6f6; PADDING-TOP: 3px
}
#softLinks {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.5; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
#softLinks LI {
	PADDING-LEFT: 18px; BACKGROUND: url(iwms.gif) no-repeat 0px -200px
}
.summary {
	
}
.summary .cont {
	POSITION: relative; COLOR: #666; OVERFLOW: hidden
}
.summary .title {
	POSITION: relative; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND: #f0faff; FONT-SIZE: 14px; OVERFLOW: hidden; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
.summary .sum {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 3px
}
.summary .foot {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 18px; PADDING-RIGHT: 8px; COLOR: #999; OVERFLOW: hidden; PADDING-TOP: 3px
}
.summary .foot SPAN {
	PADDING-RIGHT: 40px; COLOR: #ff890c
}
.summary .imgDiv {
	MARGIN: 10px
}
.summary .imgDiv IMG {
	DISPLAY: inline
}
.summary .hr {
	MARGIN: 5px 0px; CLEAR: both
}
.sResult {
	
}
.sResult .title {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.sResult .title A {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.sResult .sum {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 3px
}
.sResult .foot {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; COLOR: #999; PADDING-TOP: 3px
}
.sResult .foot SPAN {
	PADDING-RIGHT: 20px; COLOR: #ff890c
}
.wrapper {
	OVERFLOW: hidden
}
.tl {
	FLOAT: left
}
.bl {
	FLOAT: left
}
.tr {
	FLOAT: right
}
.br {
	FLOAT: right
}
.ml {
	PADDING-BOTTOM: 10000px; MARGIN-BOTTOM: -10000px; FLOAT: left
}
.l {
	PADDING-BOTTOM: 10000px; MARGIN-BOTTOM: -10000px; FLOAT: left
}
.mr {
	PADDING-BOTTOM: 10000px; MARGIN-BOTTOM: -10000px; FLOAT: right
}
.r {
	PADDING-BOTTOM: 10000px; MARGIN-BOTTOM: -10000px; FLOAT: right
}
.vldMsg {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; DISPLAY: none; BACKGROUND: infobackground; COLOR: red; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 4px
}
.reCont .reHead {
	BORDER-BOTTOM: #ababab 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #f9f9f9; COLOR: #666; PADDING-TOP: 3px
}
.reCont .reLayer {
	FLOAT: right; COLOR: #999; FONT-SIZE: 12px
}
.reCont .reBody {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 1.5; PADDING-LEFT: 25px; PADDING-RIGHT: 10px; PADDING-TOP: 5px
}
.reCont .reFun {
	LINE-HEIGHT: 25px; PADDING-LEFT: 25px; BACKGROUND: url(bg.gif) repeat-x 0px -400px; HEIGHT: 25px
}
.reCont .reName {
	FONT-WEIGHT: bold
}
.reCont .reDate {
	COLOR: #999; FONT-SIZE: 12px
}
.reCont FIELDSET {
	BORDER-BOTTOM: #e3e3e3 1px solid; BORDER-LEFT: #e3e3e3 1px solid; MARGIN-BOTTOM: 5px; BORDER-TOP: #e3e3e3 1px solid; BORDER-RIGHT: #e3e3e3 1px solid
}
.reCont FIELDSET DIV {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #999; PADDING-TOP: 5px
}
.reCont LEGEND {
	BORDER-BOTTOM: #e3e3e3 1px solid; BORDER-LEFT: #e3e3e3 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #f7fdff; BORDER-TOP: #e3e3e3 1px solid; BORDER-RIGHT: #e3e3e3 1px solid; PADDING-TOP: 1px
}
.reCont2 .reFun {
	LINE-HEIGHT: 25px; PADDING-LEFT: 25px; BACKGROUND: url(bg.gif) repeat-x 0px -500px; HEIGHT: 25px
}
.reCont2 .reFoot {
	BACKGROUND: #e7f2fb; HEIGHT: 1px; _overflow: hidden
}
.face1 {
	WIDTH: 15px; BACKGROUND: url(face.gif) no-repeat 0px 0px; HEIGHT: 15px
}
.face2 {
	WIDTH: 15px; BACKGROUND: url(face.gif) no-repeat 0px 0px; HEIGHT: 15px
}
.face3 {
	WIDTH: 15px; BACKGROUND: url(face.gif) no-repeat 0px 0px; HEIGHT: 15px
}
.face4 {
	WIDTH: 15px; BACKGROUND: url(face.gif) no-repeat 0px 0px; HEIGHT: 15px
}
.face5 {
	WIDTH: 15px; BACKGROUND: url(face.gif) no-repeat 0px 0px; HEIGHT: 15px
}
.face6 {
	WIDTH: 15px; BACKGROUND: url(face.gif) no-repeat 0px 0px; HEIGHT: 15px
}
.face7 {
	WIDTH: 15px; BACKGROUND: url(face.gif) no-repeat 0px 0px; HEIGHT: 15px
}
.face8 {
	WIDTH: 15px; BACKGROUND: url(face.gif) no-repeat 0px 0px; HEIGHT: 15px
}
.face9 {
	WIDTH: 15px; BACKGROUND: url(face.gif) no-repeat 0px 0px; HEIGHT: 15px
}
.face10 {
	WIDTH: 15px; BACKGROUND: url(face.gif) no-repeat 0px 0px; HEIGHT: 15px
}
.face11 {
	WIDTH: 15px; BACKGROUND: url(face.gif) no-repeat 0px 0px; HEIGHT: 15px
}
.face12 {
	WIDTH: 15px; BACKGROUND: url(face.gif) no-repeat 0px 0px; HEIGHT: 15px
}
.face13 {
	WIDTH: 15px; BACKGROUND: url(face.gif) no-repeat 0px 0px; HEIGHT: 15px
}
.face14 {
	WIDTH: 15px; BACKGROUND: url(face.gif) no-repeat 0px 0px; HEIGHT: 15px
}
.face15 {
	WIDTH: 15px; BACKGROUND: url(face.gif) no-repeat 0px 0px; HEIGHT: 15px
}
.face16 {
	WIDTH: 15px; BACKGROUND: url(face.gif) no-repeat 0px 0px; HEIGHT: 15px
}
.face17 {
	WIDTH: 15px; BACKGROUND: url(face.gif) no-repeat 0px 0px; HEIGHT: 15px
}
.face18 {
	WIDTH: 15px; BACKGROUND: url(face.gif) no-repeat 0px 0px; HEIGHT: 15px
}
.face2 {
	BACKGROUND-POSITION: -30px 0px
}
.face3 {
	BACKGROUND-POSITION: -60px 0px
}
.face4 {
	BACKGROUND-POSITION: -90px 0px
}
.face5 {
	BACKGROUND-POSITION: -120px 0px
}
.face6 {
	BACKGROUND-POSITION: -150px 0px
}
.face7 {
	BACKGROUND-POSITION: -180px 0px
}
.face8 {
	BACKGROUND-POSITION: -210px 0px
}
.face9 {
	BACKGROUND-POSITION: -240px 0px
}
.face10 {
	BACKGROUND-POSITION: -270px 0px
}
.face11 {
	BACKGROUND-POSITION: -300px 0px
}
.face12 {
	BACKGROUND-POSITION: -330px 0px
}
.face13 {
	BACKGROUND-POSITION: -360px 0px
}
.face14 {
	BACKGROUND-POSITION: -390px 0px
}
.face15 {
	BACKGROUND-POSITION: -420px 0px
}
.face16 {
	BACKGROUND-POSITION: -450px 0px
}
.face17 {
	BACKGROUND-POSITION: -480px 0px
}
.face18 {
	BACKGROUND-POSITION: -510px 0px
}
.aj_msg {
	BORDER-BOTTOM: #cad9ea 1px solid; POSITION: absolute; BORDER-LEFT: #cad9ea 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT: 9pt 宋体 arial; WHITE-SPACE: nowrap; BACKGROUND: #fff; COLOR: #404040; BORDER-TOP: #cad9ea 1px solid; BORDER-RIGHT: #cad9ea 1px solid; PADDING-TOP: 4px
}
.aj_msgTop {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND: #fff1a8; COLOR: #666; BORDER-TOP: 0px; BORDER-RIGHT: 0px; -webkit-border-bottom-left-radius: 8px; -webkit-border-bottom-right-radius: 8px; -moz-border-radius-bottomleft: 8px; -moz-border-radius-bottomright: 8px
}
.aj_form {
	BORDER-BOTTOM: #cad9ea 1px solid; POSITION: absolute; BORDER-LEFT: #cad9ea 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: none; BACKGROUND: url(bg.gif) #fff repeat-x 0px -700px; BORDER-TOP: #cad9ea 1px solid; BORDER-RIGHT: #cad9ea 1px solid; PADDING-TOP: 5px
}
.aj_title {
	BORDER-BOTTOM: #9ef 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 10px; FONT-WEIGHT: bold; PADDING-TOP: 4px
}
.aj_close {
	TEXT-ALIGN: right; PADDING-RIGHT: 10px
}
.pager {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: verdana; HEIGHT: 25px; CLEAR: both; FONT-SIZE: 12px; WORD-BREAK: keep-all; PADDING-TOP: 5px
}
.pager UL {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.2em; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.pager LI {
	MARGIN: 0px 5px 0px 0px; FLOAT: left; COLOR: #999
}
.pager LI.p_total {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #fafafc; COLOR: #88af3f; BORDER-TOP: #ddd 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 3px
}
.pager LI.p_current {
	BORDER-BOTTOM: #b2e05d 1px solid; BORDER-LEFT: #b2e05d 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #b2e05d; COLOR: #fafafc; BORDER-TOP: #b2e05d 1px solid; BORDER-RIGHT: #b2e05d 1px solid; PADDING-TOP: 3px
}
.pager LI.p_nolink {
	BORDER-BOTTOM: #f3f3f3 1px solid; BORDER-LEFT: #f3f3f3 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #ccc; BORDER-TOP: #f3f3f3 1px solid; BORDER-RIGHT: #f3f3f3 1px solid; PADDING-TOP: 3px
}
.pager LI A:link {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #fafafc; FLOAT: left; COLOR: #88af3f; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; TEXT-DECORATION: none !important; PADDING-TOP: 3px
}
.pager LI A:visited {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #fafafc; FLOAT: left; COLOR: #88af3f; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; TEXT-DECORATION: none !important; PADDING-TOP: 3px
}
.pager LI A:hover {
	BORDER-BOTTOM-COLOR: #85bd1e; BORDER-TOP-COLOR: #85bd1e; BACKGROUND: #f1ffd6; COLOR: #638425; BORDER-RIGHT-COLOR: #85bd1e; BORDER-LEFT-COLOR: #85bd1e
}
.pager LI A:active {
	BORDER-BOTTOM-COLOR: #85bd1e; BORDER-TOP-COLOR: #85bd1e; BACKGROUND: #f1ffd6; COLOR: #638425; BORDER-RIGHT-COLOR: #85bd1e; BORDER-LEFT-COLOR: #85bd1e
}
.pager LI INPUT {
	BORDER-BOTTOM: #ddd 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; WIDTH: 3em; PADDING-RIGHT: 0px; FONT-FAMILY: verdana; BACKGROUND: url(inputBorder.gif); FLOAT: left; HEIGHT: 1.3em; COLOR: #999; FONT-SIZE: 12px; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 2px
}
#digg {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FLOAT: right; CLEAR: both; PADDING-TOP: 10px
}
.digg {
	LIST-STYLE: none none outside; TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 51px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.digg1 {
	LINE-HEIGHT: 52px; FONT-FAMILY: sans-serif; BACKGROUND: url(digg.gif); HEIGHT: 52px; COLOR: #736948; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.digg2 {
	LINE-HEIGHT: 25px; MARGIN-TOP: 2px; WIDTH: 51px; FLOAT: left; HEIGHT: 25px; FONT-SIZE: 12px
}
.digg2 A {
	DISPLAY: block; BACKGROUND: url(digg.gif) -100px 0px; COLOR: #0f5cc3; TEXT-DECORATION: none
}
.digg2 A:hover {
	BACKGROUND: url(digg.gif) -200px 0px; COLOR: #333
}
.diggC {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FLOAT: left; PADDING-TOP: 0px
}
.diggC .digg1 {
	LINE-HEIGHT: 40px; BACKGROUND: url(digg.gif) -500px 0px; HEIGHT: 40px
}
.diggC .digg2 {
	LINE-HEIGHT: 22px; HEIGHT: 22px
}
.diggC .digg2 A {
	BACKGROUND: url(digg.gif) -600px 0px
}
.diggC .digg2 A:hover {
	BACKGROUND: url(digg.gif) -700px 0px
}
.nearNews {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #999; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 5px; _zoom: 1
}
.nextNews {
	TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
.prevNews {
	TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
.prevNews {
	WIDTH: 50%; FLOAT: left
}
.nextNews {
	TEXT-ALIGN: right
}
.prevNews A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BACKGROUND: url(iwms.gif) no-repeat 0px -400px; FLOAT: left; PADDING-TOP: 0px
}
.nextNews A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BACKGROUND: url(iwms.gif) no-repeat right -450px; FLOAT: right; PADDING-TOP: 0px
}
.fav {
	PADDING-LEFT: 20px; BACKGROUND: url(iwms.gif) no-repeat 0px -500px
}
.mail {
	PADDING-LEFT: 20px; BACKGROUND: url(iwms.gif) no-repeat 0px -550px
}
.print {
	PADDING-LEFT: 20px; BACKGROUND: url(iwms.gif) no-repeat 0px -600px
}
.edit {
	PADDING-LEFT: 20px; BACKGROUND: url(iwms.gif) no-repeat 0px -650px
}
.hotTags {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.5; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.hotTags A {
	WORD-WRAP: break-word; MARGIN-RIGHT: 6px
}
A.sel {
	BORDER-BOTTOM: #5b9be1 1px solid; POSITION: absolute; BORDER-LEFT: #5b9be1 1px solid; TEXT-INDENT: 5px; BACKGROUND: url(btnBg.gif) no-repeat right -50px; COLOR: #333; FONT-SIZE: 12px; OVERFLOW: hidden; BORDER-TOP: #5b9be1 1px solid; CURSOR: pointer; BORDER-RIGHT: #5b9be1 1px solid; TEXT-DECORATION: none !important
}
A.sel SPAN {
	LINE-HEIGHT: 22px; DISPLAY: block; WHITE-SPACE: nowrap; OVERFLOW: hidden; MARGIN-RIGHT: 20px
}
UL.sel {
	BORDER-BOTTOM: #999 1px solid; POSITION: absolute; BORDER-LEFT: #999 1px solid; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: #999 1px solid; PADDING-TOP: 0px
}
UL.sel LI {
	LINE-HEIGHT: 22px; TEXT-INDENT: 5px; WHITE-SPACE: nowrap; BACKGROUND: #fff; COLOR: #666; FONT-SIZE: 12px; OVERFLOW: hidden; CURSOR: pointer
}
UL.sel LI.over {
	BACKGROUND: #f0f0f0; COLOR: #333
}
UL.sel LI.chk {
	BACKGROUND: #dfedfa; COLOR: #333
}
.psFrm {
	MARGIN-BOTTOM: 4px
}
.psFrm .tm {
	BORDER-BOTTOM: #ababab 1px solid; BORDER-LEFT: #ababab 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(bg.gif) repeat-x; HEIGHT: 25px; BORDER-TOP: #ababab 1px solid; BORDER-RIGHT: #ababab 1px solid; PADDING-TOP: 0px
}
.psFrm .tl {
	DISPLAY: none
}
.psFrm .tr {
	DISPLAY: none
}
.psFrm SPAN.tt {
	COLOR: #606060; FONT-WEIGHT: bold
}
.psFrm .mm {
	BORDER-LEFT: #ababab 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND: #fff; BORDER-RIGHT: #ababab 1px solid; PADDING-TOP: 3px
}
.psFrm .ml {
	DISPLAY: none
}
.psFrm .mr {
	DISPLAY: none
}
.psFrm .bm {
	BACKGROUND: #ababab; HEIGHT: 1px; _overflow: hidden
}
.psFrm .bl {
	DISPLAY: none
}
.psFrm .br {
	DISPLAY: none
}
.psCont {
	WIDTH: 100%
}
.psCont DIV.psTitle {
	BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 3px; LINE-HEIGHT: 1.5em; PADDING-LEFT: 20px; PADDING-RIGHT: 10px; BACKGROUND: url(post.gif) #f9fcff no-repeat left 0px; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 3px
}
.psCont DIV.psTitle A {
	
}
.psCont LEGEND A {
	
}
.psCont DIV.psBody {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 20px; PADDING-RIGHT: 10px; FONT-SIZE: 14px; PADDING-TOP: 5px
}
.psCont DIV.psFun {
	LINE-HEIGHT: 25px; PADDING-LEFT: 20px; BACKGROUND: url(bg.gif) repeat-x 0px -400px; HEIGHT: 25px
}
.psCont SPAN.psName {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.6em; PADDING-LEFT: 20px; PADDING-RIGHT: 10px; BACKGROUND: url(post.gif) no-repeat left -100px; COLOR: #f00; MARGIN-LEFT: 10px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.psCont SPAN.psDate {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.6em; PADDING-LEFT: 20px; PADDING-RIGHT: 10px; BACKGROUND: url(post.gif) no-repeat left -150px; COLOR: #999; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.psCont SPAN.psSort {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.6em; PADDING-LEFT: 20px; PADDING-RIGHT: 10px; BACKGROUND: url(post.gif) no-repeat left -200px; COLOR: #999; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.psCont SPAN.psHits {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 10px; BACKGROUND: url(post.gif) no-repeat left -550px; COLOR: #999; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.psCont SPAN.psReply {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 10px; BACKGROUND: url(post.gif) no-repeat left -500px; COLOR: #999; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.psCont FIELDSET {
	BORDER-BOTTOM: #e3e3e3 1px solid; BORDER-LEFT: #e3e3e3 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 5px; BORDER-TOP: #e3e3e3 1px solid; BORDER-RIGHT: #e3e3e3 1px solid; PADDING-TOP: 0px
}
.psCont FIELDSET DIV {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.psCont LEGEND {
	BORDER-BOTTOM: #e3e3e3 1px solid; BORDER-LEFT: #e3e3e3 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 20px; PADDING-RIGHT: 5px; BACKGROUND: url(post.gif) #f7fdff no-repeat left -50px; FONT-SIZE: 12px; BORDER-TOP: #e3e3e3 1px solid; BORDER-RIGHT: #e3e3e3 1px solid; PADDING-TOP: 1px
}
.psCont LEGEND A {
	COLOR: #666
}
.psCont FIELDSET .psPBody {
	DISPLAY: none; COLOR: #999
}
.psCont2 {
	TABLE-LAYOUT: fixed
}
.psCont2 THEAD TD {
	TEXT-ALIGN: center; BACKGROUND: #fdfdfd; COLOR: #666; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.psCont2 TR {
	BACKGROUND-COLOR: #fff
}
.psCont2 TR TD {
	BORDER-BOTTOM: #f3f3f3 1px solid; LINE-HEIGHT: 1.5em; BORDER-TOP: white 1px solid
}
.psCont2 TD.psTitle {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 24px; PADDING-RIGHT: 10px; BACKGROUND: ; FONT-SIZE: 14px; PADDING-TOP: 3px; break-word: break-all
}
.psCont2 TD.psName {
	TEXT-ALIGN: center; COLOR: #666; FONT-SIZE: 12px
}
.psCont2 TD.psDate {
	TEXT-ALIGN: center; COLOR: #666; FONT-SIZE: 12px
}
.psCont2 TD.psHits {
	TEXT-ALIGN: center; COLOR: #666; FONT-SIZE: 12px
}
.psCont2 TD.psReply {
	TEXT-ALIGN: center; COLOR: #666; FONT-SIZE: 12px
}
.psCont2 TR.psBg2 {
	BACKGROUND-COLOR: #fafcfd
}
.psCont DIV.psFix DIV.psTitle {
	BACKGROUND-POSITION: left -600px
}
.psCont2 TR.psFix TD.psTitle {
	BACKGROUND-POSITION: left -600px
}
.psIntro .sName {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 10px; PADDING-RIGHT: 20px; BACKGROUND: url(post.gif) no-repeat right -350px; FLOAT: left; BORDER-TOP: #ddd 1px solid; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 0px
}
.psIntro .sBlank {
	BORDER-BOTTOM: #ddd 1px solid; TEXT-ALIGN: right; LINE-HEIGHT: 26px; PADDING-RIGHT: 10px; HEIGHT: 26px; OVERFLOW: hidden
}
.psIntro .sIntro {
	BORDER-BOTTOM: #ddd 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: none; COLOR: #999; FONT-SIZE: 12px; OVERFLOW: hidden; BORDER-TOP: #ddd 0px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 5px; _zoom: 1
}
.psIntro .sIntro * {
	LINE-HEIGHT: 1.5; FONT-SIZE: 12px
}
.psIntro .sIntro A {
	COLOR: #666
}
.psOpen {
	WIDTH: 20px; DISPLAY: block; BACKGROUND: url(post.gif) center -250px; HEIGHT: 20px
}
.psClose {
	WIDTH: 20px; DISPLAY: block; BACKGROUND: url(post.gif) center -250px; HEIGHT: 20px
}
.psClose {
	BACKGROUND: url(post.gif) center -300px
}
.psStep {
	MARGIN: 10px 5px
}
.psStep A {
	LINE-HEIGHT: 1.5em; PADDING-LEFT: 20px; BACKGROUND: url(post.gif) no-repeat left -450px
}
.psStep A.stFirst {
	PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.psSelList {
	PADDING-LEFT: 20px; BACKGROUND: url(post.gif) no-repeat 0px -750px
}
.psSelList2 {
	PADDING-LEFT: 20px; BACKGROUND: url(post.gif) no-repeat 0px -800px
}
.psSelVerify {
	PADDING-LEFT: 20px; BACKGROUND: url(post.gif) no-repeat 0px -850px
}
UL.pl {
	LIST-STYLE: none none outside; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL.pl LI {
	LINE-HEIGHT: 22px; PADDING-LEFT: 15px; BACKGROUND: url(iwms.gif) no-repeat 0px 0px
}
UL.pl LI IMG {
	_margin: 6px 0
}
.psR {
	FLOAT: right; COLOR: #666; FONT-SIZE: 12px
}
.shadow {
	BACKGROUND: #ddd
}
.popAdm A {
	LINE-HEIGHT: 20px; DISPLAY: block; COLOR: #666; FONT-SIZE: 12px
}
.popFix A {
	LINE-HEIGHT: 20px; PADDING-LEFT: 20px; DISPLAY: block; BACKGROUND: url(post.gif) no-repeat left -700px; COLOR: #666; FONT-SIZE: 12px
}
.popFix A.psChk {
	BACKGROUND-POSITION: left -650px
}
.topBar {
	BORDER-BOTTOM: #e6e6e6 1px solid; LINE-HEIGHT: 28px; WIDTH: 100%; BACKGROUND: url(bg.gif) 0px -600px; HEIGHT: 28px
}
.topBar .twidth {
	BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 100%
}
#topUser A {
	PADDING-LEFT: 15px; BACKGROUND: url(iwms.gif) no-repeat 0px -750px
}
.popMine A {
	LINE-HEIGHT: 20px; DISPLAY: block; COLOR: #666; FONT-SIZE: 12px
}
A.remind {
	COLOR: red
}
.aj_sel {
	BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT: 9pt 宋体 arial; WHITE-SPACE: nowrap; BACKGROUND: #fff; COLOR: #333; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 4px
}
.clink {
	BORDER-BOTTOM: #b9d8f7 1px solid; BORDER-LEFT: #b9d8f7 1px solid; PADDING-BOTTOM: 2px; TEXT-INDENT: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 20px; BACKGROUND: url(btnBg.gif) no-repeat right -50px; COLOR: #333; FONT-SIZE: 12px; OVERFLOW: hidden; BORDER-TOP: #b9d8f7 1px solid; CURSOR: pointer; BORDER-RIGHT: #b9d8f7 1px solid; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.cmenu IMG.opened {
	WIDTH: 15px; BACKGROUND: url(cmenu.gif) no-repeat; HEIGHT: 10px
}
.cmenu IMG.closed {
	WIDTH: 15px; BACKGROUND: url(cmenu.gif) no-repeat 0px -100px; HEIGHT: 10px
}
.cmenu IMG.space {
	WIDTH: 15px; HEIGHT: 10px
}
.cmenu {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; WIDTH: 200px; PADDING-RIGHT: 0px; BACKGROUND: #f9fbfe; HEIGHT: 300px; COLOR: #aaa; OVERFLOW: auto; PADDING-TOP: 10px
}
.cmenu UL {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
#msCon {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 500px; HEIGHT: 400px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.msLeft {
	WIDTH: 160px; FLOAT: left; HEIGHT: 100%; BORDER-RIGHT: pink 1px solid
}
.msRight {
	WIDTH: 339px; FLOAT: left; HEIGHT: 100%
}
.msHead {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; LINE-HEIGHT: 29px; WIDTH: 100%; BACKGROUND: #eee; CURSOR: pointer
}
.msContact {
	OVERFLOW-X: hidden; WIDTH: 160px; BACKGROUND: #fff; HEIGHT: 340px
}
.msContact A {
	LINE-HEIGHT: 25px; PADDING-LEFT: 20px; WIDTH: 140px; FLOAT: left
}
.msContact A.msCur {
	BACKGROUND: #eef
}
#msFriend {
	DISPLAY: none
}
#msList {
	LINE-HEIGHT: 150%; OVERFLOW-Y: auto; WORD-WRAP: break-word; HEIGHT: 280px
}
.msMsg {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 5px
}
.msMe {
	COLOR: #42b475
}
.msSender {
	COLOR: #006efe
}
.msBody {
	PADDING-LEFT: 1em
}
.msUnread {
	FONT-WEIGHT: bold
}
#msForm {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; HEIGHT: 110px; PADDING-TOP: 5px
}
#msForm TEXTAREA {
	WIDTH: 323px; HEIGHT: 80px
}
#msSubmit {
	TEXT-ALIGN: right; PADDING-BOTTOM: 3px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 3px
}
.boxy-body {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.boxy-wrapper {
	POSITION: absolute
}
.fixed.boxy-wrapper {
	POSITION: fixed
}
.boxy-modal-blackout {
	POSITION: absolute; BACKGROUND-COLOR: black; TOP: 0px; LEFT: 0px
}
.boxy-wrapper {
	EMPTY-CELLS: show
}
.boxy-wrapper .boxy-top-left {
	FILTER: alpha(opacity=20); PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #666; PADDING-LEFT: 0px; WIDTH: 2px; PADDING-RIGHT: 0px; HEIGHT: 2px; PADDING-TOP: 0px; opacity: 0.2
}
.boxy-wrapper .boxy-top-right {
	FILTER: alpha(opacity=20); PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #666; PADDING-LEFT: 0px; WIDTH: 2px; PADDING-RIGHT: 0px; HEIGHT: 2px; PADDING-TOP: 0px; opacity: 0.2
}
.boxy-wrapper .boxy-bottom-right {
	FILTER: alpha(opacity=20); PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #666; PADDING-LEFT: 0px; WIDTH: 2px; PADDING-RIGHT: 0px; HEIGHT: 2px; PADDING-TOP: 0px; opacity: 0.2
}
.boxy-wrapper .boxy-bottom-left {
	FILTER: alpha(opacity=20); PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #666; PADDING-LEFT: 0px; WIDTH: 2px; PADDING-RIGHT: 0px; HEIGHT: 2px; PADDING-TOP: 0px; opacity: 0.2
}
.boxy-wrapper .boxy-top {
	FILTER: alpha(opacity=20); PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #666; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 2px; PADDING-TOP: 0px; opacity: 0.2
}
.boxy-wrapper .boxy-bottom {
	FILTER: alpha(opacity=20); PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #666; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 2px; PADDING-TOP: 0px; opacity: 0.2
}
.boxy-wrapper .boxy-left {
	FILTER: alpha(opacity=20); PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #666; PADDING-LEFT: 0px; WIDTH: 2px; PADDING-RIGHT: 0px; PADDING-TOP: 0px; opacity: 0.2
}
.boxy-wrapper .boxy-right {
	FILTER: alpha(opacity=20); PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #666; PADDING-LEFT: 0px; WIDTH: 2px; PADDING-RIGHT: 0px; PADDING-TOP: 0px; opacity: 0.2
}
.boxy-wrapper .title-bar {
	POSITION: relative; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(bg.gif) repeat-x 0px -1500px; FONT-WEIGHT: bold; PADDING-TOP: 10px
}
.boxy-wrapper .dragging.title-bar {
	CURSOR: move
}
.boxy-wrapper .title-bar H2 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #666; FONT-SIZE: 14px; PADDING-TOP: 0px
}
.boxy-wrapper .title-bar .close {
	POSITION: absolute; LINE-HEIGHT: 1; COLOR: #666; FONT-SIZE: 90%; TOP: 10px; RIGHT: 6px
}
.boxy-inner {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: white; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.boxy-content {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.boxy-wrapper .question {
	PADDING-BOTTOM: 10px; MIN-HEIGHT: 80px; PADDING-LEFT: 20px; WIDTH: 350px; PADDING-RIGHT: 20px; PADDING-TOP: 10px
}
.boxy-wrapper .answers {
	TEXT-ALIGN: right; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 20px; PADDING-TOP: 0px
}
.htmlarea TEXTAREA {
	WIDTH: 100%; HEIGHT: 255px; FONT-SIZE: 12px
}
#li_all {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 600px; PADDING-RIGHT: 0px; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 0px
}
#li_2 {
	TEXT-ALIGN: center
}
.linua {
	TEXT-ALIGN: center
}
.linux8 {
	TEXT-ALIGN: center
}
.linux801 {
	TEXT-ALIGN: center
}
.linub {
	PADDING-LEFT: 10px; DISPLAY: block; FLOAT: right
}
.linuzb {
	TEXT-ALIGN: center; WIDTH: 301px; HEIGHT: 163px
}
.linu3 {
	TEXT-ALIGN: center
}
.linux3 {
	TEXT-ALIGN: center
}
.linuxy1 {
	BORDER-BOTTOM: #ff0000 1px dashed; BORDER-LEFT: #ff0000 1px dashed; WIDTH: 303px; HEIGHT: 603px; BORDER-TOP: #ff0000 1px dashed; BORDER-RIGHT: #ff0000 1px dashed
}
.linux901 {
	BORDER-BOTTOM: #f00 1px solid; BORDER-LEFT: #f00 1px solid; WIDTH: 298px; HEIGHT: 80px; BORDER-TOP: #f00 1px solid; BORDER-RIGHT: #f00 1px solid
}
.linux902 {
	TEXT-ALIGN: center; HEIGHT: 252px
}
.linux903 {
	TEXT-ALIGN: center; HEIGHT: 302px
}
.linuxy3 {
	TEXT-ALIGN: center
}
.linuzs {
	TEXT-ALIGN: center; WIDTH: 301px; HEIGHT: 254px
}
