HTML {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SPAN {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
APPLET {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
OBJECT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
IFRAME {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
A {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
ABBR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
ACRONYM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
ADDRESS {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
BIG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
CITE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
CODE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DEL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DFN {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
EM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
FONT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
INS {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
KBD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
Q {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
S {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SAMP {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SMALL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
STRIKE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
STRONG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SUB {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SUP {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
VAR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
B {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
U {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
I {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
CENTER {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LABEL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LEGEND {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
CAPTION {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TBODY {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TFOOT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
THEAD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	LINE-HEIGHT: 1
}
H1 {
	CLEAR: both; FONT-WEIGHT: normal
}
H2 {
	CLEAR: both; FONT-WEIGHT: normal
}
H3 {
	CLEAR: both; FONT-WEIGHT: normal
}
H4 {
	CLEAR: both; FONT-WEIGHT: normal
}
H5 {
	CLEAR: both; FONT-WEIGHT: normal
}
H6 {
	CLEAR: both; FONT-WEIGHT: normal
}
OL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
BLOCKQUOTE {
	QUOTES: none
}
BLOCKQUOTE:before {
	CONTENT: none
}
BLOCKQUOTE:after {
	CONTENT: none
}
DEL {
	TEXT-DECORATION: line-through
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
A IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
#container {
	MARGIN: 0px -240px 0px 0px; WIDTH: 100%; FLOAT: left
}
#content {
	MARGIN: 0px 280px 0px 20px
}
#primary {
	WIDTH: 220px; FLOAT: right; OVERFLOW: hidden
}
#secondary {
	WIDTH: 220px; FLOAT: right; OVERFLOW: hidden
}
#secondary {
	CLEAR: right
}
#footer {
	WIDTH: 100%; CLEAR: both
}
.one-column #content {
	MARGIN: 0px auto; WIDTH: 640px
}
.single-attachment #content {
	MARGIN: 0px auto; WIDTH: 900px
}
BODY {
	FONT-FAMILY: Georgia, "Bitstream Charter", serif
}
INPUT {
	FONT-FAMILY: Georgia, "Bitstream Charter", serif
}
TEXTAREA {
	FONT-FAMILY: Georgia, "Bitstream Charter", serif
}
.page-title SPAN {
	FONT-FAMILY: Georgia, "Bitstream Charter", serif
}
.pingback A.url {
	FONT-FAMILY: Georgia, "Bitstream Charter", serif
}
H3#comments-title {
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif
}
H3#reply-title {
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif
}
#access .menu {
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif
}
#access DIV.menu UL {
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif
}
#cancel-comment-reply-link {
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif
}
.form-allowed-tags {
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif
}
#site-info {
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif
}
#site-title {
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif
}
#wp-calendar {
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif
}
.comment-meta {
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif
}
.comment-body TR TH {
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif
}
.comment-body THEAD TH {
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif
}
.entry-content LABEL {
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif
}
.entry-content TR TH {
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif
}
.entry-content THEAD TH {
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif
}
.entry-meta {
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif
}
.entry-title {
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif
}
.entry-utility {
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif
}
#respond LABEL {
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif
}
.navigation {
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif
}
.page-title {
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif
}
.pingback P {
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif
}
.reply {
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif
}
.widget-title {
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif
}
.wp-caption-text {
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif
}
INPUT[type='submit'] {
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif
}
PRE {
	FONT-FAMILY: "Courier 10 Pitch", Courier, monospace
}
CODE {
	FONT-FAMILY: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace
}
#access .menu-header {
	MARGIN: 0px auto; WIDTH: 940px
}
DIV.menu {
	MARGIN: 0px auto; WIDTH: 940px
}
#colophon {
	MARGIN: 0px auto; WIDTH: 940px
}
#branding {
	MARGIN: 0px auto; WIDTH: 940px
}
#main {
	MARGIN: 0px auto; WIDTH: 940px
}
#wrapper {
	MARGIN: 0px auto; WIDTH: 940px
}
#wrapper {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BACKGROUND: #fff; PADDING-TOP: 0px
}
#footer-widget-area {
	OVERFLOW: hidden
}
#footer-widget-area .widget-area {
	WIDTH: 220px; FLOAT: left; MARGIN-RIGHT: 20px
}
#footer-widget-area #fourth {
	MARGIN-RIGHT: 0px
}
#site-info {
	WIDTH: 700px; FLOAT: left; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#site-generator {
	WIDTH: 220px; FLOAT: right
}
BODY {
	BACKGROUND: #f1f1f1
}
BODY {
	LINE-HEIGHT: 18px; COLOR: #666; FONT-SIZE: 12px
}
INPUT {
	LINE-HEIGHT: 18px; COLOR: #666; FONT-SIZE: 12px
}
TEXTAREA {
	LINE-HEIGHT: 18px; COLOR: #666; FONT-SIZE: 12px
}
HR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND-COLOR: #e7e7e7; MARGIN-BOTTOM: 18px; HEIGHT: 1px; CLEAR: both; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
P {
	MARGIN-BOTTOM: 18px
}
UL {
	LIST-STYLE-TYPE: square; MARGIN: 0px 0px 18px 1.5em
}
OL {
	LIST-STYLE-TYPE: decimal; MARGIN: 0px 0px 18px 1.5em
}
OL OL {
	LIST-STYLE-TYPE: upper-alpha
}
OL OL OL {
	LIST-STYLE-TYPE: lower-roman
}
OL OL OL OL {
	LIST-STYLE-TYPE: lower-alpha
}
UL UL {
	MARGIN-BOTTOM: 0px
}
OL OL {
	MARGIN-BOTTOM: 0px
}
UL OL {
	MARGIN-BOTTOM: 0px
}
OL UL {
	MARGIN-BOTTOM: 0px
}
DL {
	MARGIN: 0px 0px 24px
}
DT {
	FONT-WEIGHT: bold
}
DD {
	MARGIN-BOTTOM: 18px
}
STRONG {
	FONT-WEIGHT: bold
}
CITE {
	FONT-STYLE: italic
}
EM {
	FONT-STYLE: italic
}
I {
	FONT-STYLE: italic
}
BIG {
	FONT-SIZE: 131.25%
}
INS {
	BACKGROUND: #ffc; TEXT-DECORATION: none
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; FONT-STYLE: italic; PADDING-LEFT: 3em; PADDING-RIGHT: 3em; PADDING-TOP: 0px
}
BLOCKQUOTE CITE {
	FONT-STYLE: normal
}
BLOCKQUOTE EM {
	FONT-STYLE: normal
}
BLOCKQUOTE I {
	FONT-STYLE: normal
}
PRE {
	PADDING-BOTTOM: 1.5em; LINE-HEIGHT: 18px; PADDING-LEFT: 1.5em; PADDING-RIGHT: 1.5em; MARGIN-BOTTOM: 18px; BACKGROUND: #f7f7f7; COLOR: #222; OVERFLOW: auto; PADDING-TOP: 1.5em
}
ABBR {
	BORDER-BOTTOM: #666 1px dotted; CURSOR: help
}
ACRONYM {
	BORDER-BOTTOM: #666 1px dotted; CURSOR: help
}
SUP {
	POSITION: relative; LINE-HEIGHT: 1; HEIGHT: 0px; VERTICAL-ALIGN: baseline
}
SUB {
	POSITION: relative; LINE-HEIGHT: 1; HEIGHT: 0px; VERTICAL-ALIGN: baseline
}
SUP {
	BOTTOM: 1ex
}
SUB {
	TOP: 0.5ex
}
SMALL {
	FONT-SIZE: smaller
}
INPUT[type='text'] {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND: #f9f9f9; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px; box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1); -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1)
}
INPUT[type='password'] {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND: #f9f9f9; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px; box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1); -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1)
}
INPUT[type='email'] {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND: #f9f9f9; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px; box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1); -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1)
}
INPUT[type='url'] {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND: #f9f9f9; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px; box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1); -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1)
}
INPUT[type='number'] {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND: #f9f9f9; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px; box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1); -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1)
}
TEXTAREA {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND: #f9f9f9; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px; box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1); -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1)
}
A:link {
	COLOR: #0066cc
}
A:visited {
	COLOR: #743399
}
A:active {
	COLOR: #ff4b33
}
A:hover {
	COLOR: #ff4b33
}
.screen-reader-text {
	POSITION: absolute; LEFT: -9000px
}
#header {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 30px
}
#site-title {
	LINE-HEIGHT: 36px; MARGIN: 0px 0px 18px; WIDTH: 700px; FLOAT: left; FONT-SIZE: 30px
}
#site-title A {
	COLOR: #000; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#site-description {
	FONT-STYLE: italic; MARGIN: 15px 0px 18px; WIDTH: 220px; FLOAT: right; CLEAR: right
}
#branding IMG {
	BORDER-BOTTOM: #000 1px solid; DISPLAY: block; FLOAT: left; BORDER-TOP: #000 4px solid
}
#access {
	MARGIN: 0px auto; WIDTH: 940px; DISPLAY: block; BACKGROUND: #000; FLOAT: left
}
#access .menu-header {
	WIDTH: 928px; MARGIN-LEFT: 12px; FONT-SIZE: 13px
}
DIV.menu {
	WIDTH: 928px; MARGIN-LEFT: 12px; FONT-SIZE: 13px
}
#access .menu-header UL {
	LIST-STYLE-TYPE: none; MARGIN: 0px; LIST-STYLE-IMAGE: none
}
DIV.menu UL {
	LIST-STYLE-TYPE: none; MARGIN: 0px; LIST-STYLE-IMAGE: none
}
#access .menu-header LI {
	POSITION: relative; FLOAT: left
}
DIV.menu LI {
	POSITION: relative; FLOAT: left
}
#access A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 38px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: block; COLOR: #aaa; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#access UL UL {
	Z-INDEX: 99999; POSITION: absolute; WIDTH: 180px; DISPLAY: none; FLOAT: left; TOP: 38px; LEFT: 0px; box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2)
}
#access UL UL LI {
	MIN-WIDTH: 180px
}
#access UL UL UL {
	TOP: 0px; LEFT: 100%
}
#access UL UL A {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 1em; PADDING-LEFT: 10px; WIDTH: 160px; PADDING-RIGHT: 10px; BACKGROUND: #333; HEIGHT: auto; PADDING-TOP: 10px
}
#access LI:hover > A {
	BACKGROUND: #333; COLOR: #fff
}
#access UL UL :hover > A {
	BACKGROUND: #333; COLOR: #fff
}
#access UL LI:hover > UL {
	DISPLAY: block
}
#access UL LI.current_page_item > A {
	COLOR: #fff
}
#access UL LI.current_page_ancestor > A {
	COLOR: #fff
}
#access UL LI.current-menu-ancestor > A {
	COLOR: #fff
}
#access UL LI.current-menu-item > A {
	COLOR: #fff
}
#access UL LI.current-menu-parent > A {
	COLOR: #fff
}
* HTML #access UL LI.current_page_item A {
	COLOR: #fff
}
* HTML #access UL LI.current_page_ancestor A {
	COLOR: #fff
}
* HTML #access UL LI.current-menu-ancestor A {
	COLOR: #fff
}
* HTML #access UL LI.current-menu-item A {
	COLOR: #fff
}
* HTML #access UL LI.current-menu-parent A {
	COLOR: #fff
}
* HTML #access UL LI A:hover {
	COLOR: #fff
}
#main {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 40px
}
#content {
	MARGIN-BOTTOM: 36px
}
#content {
	LINE-HEIGHT: 24px; COLOR: #333; FONT-SIZE: 16px
}
#content INPUT {
	LINE-HEIGHT: 24px; COLOR: #333; FONT-SIZE: 16px
}
#content TEXTAREA {
	LINE-HEIGHT: 24px; COLOR: #333; FONT-SIZE: 16px
}
#content P {
	MARGIN-BOTTOM: 24px
}
#content UL {
	MARGIN-BOTTOM: 24px
}
#content OL {
	MARGIN-BOTTOM: 24px
}
#content DD {
	MARGIN-BOTTOM: 24px
}
#content PRE {
	MARGIN-BOTTOM: 24px
}
#content HR {
	MARGIN-BOTTOM: 24px
}
#content UL UL {
	MARGIN-BOTTOM: 0px
}
#content OL OL {
	MARGIN-BOTTOM: 0px
}
#content UL OL {
	MARGIN-BOTTOM: 0px
}
#content OL UL {
	MARGIN-BOTTOM: 0px
}
#content PRE {
	LINE-HEIGHT: 21px; FONT-SIZE: 15px
}
#content KBD {
	LINE-HEIGHT: 21px; FONT-SIZE: 15px
}
#content TT {
	LINE-HEIGHT: 21px; FONT-SIZE: 15px
}
#content VAR {
	LINE-HEIGHT: 21px; FONT-SIZE: 15px
}
#content CODE {
	FONT-SIZE: 13px
}
#content DT {
	COLOR: #000
}
#content TH {
	COLOR: #000
}
#content H1 {
	LINE-HEIGHT: 1.5em; MARGIN: 0px 0px 20px; COLOR: #000
}
#content H2 {
	LINE-HEIGHT: 1.5em; MARGIN: 0px 0px 20px; COLOR: #000
}
#content H3 {
	LINE-HEIGHT: 1.5em; MARGIN: 0px 0px 20px; COLOR: #000
}
#content H4 {
	LINE-HEIGHT: 1.5em; MARGIN: 0px 0px 20px; COLOR: #000
}
#content H5 {
	LINE-HEIGHT: 1.5em; MARGIN: 0px 0px 20px; COLOR: #000
}
#content H6 {
	LINE-HEIGHT: 1.5em; MARGIN: 0px 0px 20px; COLOR: #000
}
#content TABLE {
	BORDER-BOTTOM: #e7e7e7 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #e7e7e7 1px solid; MARGIN: 0px -1px 24px 0px; WIDTH: 100%; BORDER-TOP: #e7e7e7 1px solid; BORDER-RIGHT: #e7e7e7 1px solid
}
#content TR TH {
	PADDING-BOTTOM: 9px; LINE-HEIGHT: 18px; PADDING-LEFT: 24px; PADDING-RIGHT: 24px; COLOR: #888; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 9px
}
#content THEAD TH {
	PADDING-BOTTOM: 9px; LINE-HEIGHT: 18px; PADDING-LEFT: 24px; PADDING-RIGHT: 24px; COLOR: #888; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 9px
}
#content TR TD {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 24px; PADDING-RIGHT: 24px; BORDER-TOP: #e7e7e7 1px solid; PADDING-TOP: 6px
}
#content TR.odd TD {
	BACKGROUND: #f2f7fc
}
.hentry {
	MARGIN: 0px 0px 48px
}
.home .sticky {
	PADDING-BOTTOM: 18px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BACKGROUND: #f2f7fc; MARGIN-LEFT: -20px; BORDER-TOP: #000 4px solid; MARGIN-RIGHT: -20px; PADDING-TOP: 18px
}
.single .hentry {
	MARGIN: 0px 0px 36px
}
.page-title {
	MARGIN: 0px 0px 36px; COLOR: #000; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.page-title SPAN {
	FONT-STYLE: italic; COLOR: #333; FONT-SIZE: 16px; FONT-WEIGHT: normal
}
.page-title A:link {
	COLOR: #888; TEXT-DECORATION: none
}
.page-title A:visited {
	COLOR: #888; TEXT-DECORATION: none
}
.page-title A:active {
	COLOR: #ff4b33
}
.page-title A:hover {
	COLOR: #ff4b33
}
#content .entry-title {
	LINE-HEIGHT: 1.3em; MARGIN-BOTTOM: 0px; COLOR: #000; FONT-SIZE: 21px; FONT-WEIGHT: bold
}
.entry-title A:link {
	COLOR: #000; TEXT-DECORATION: none
}
.entry-title A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
.entry-title A:active {
	COLOR: #ff4b33
}
.entry-title A:hover {
	COLOR: #ff4b33
}
.entry-meta {
	COLOR: #888; FONT-SIZE: 12px
}
.entry-meta ABBR {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.entry-utility ABBR {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.entry-meta ABBR:hover {
	BORDER-BOTTOM: #666 1px dotted
}
.entry-utility ABBR:hover {
	BORDER-BOTTOM: #666 1px dotted
}
.entry-content {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; CLEAR: both; PADDING-TOP: 12px
}
.entry-summary {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; CLEAR: both; PADDING-TOP: 12px
}
.entry-content FIELDSET {
	BORDER-BOTTOM: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; PADDING-BOTTOM: 24px; MARGIN: 0px 0px 24px; PADDING-LEFT: 24px; PADDING-RIGHT: 24px; BORDER-TOP: #e7e7e7 1px solid; BORDER-RIGHT: #e7e7e7 1px solid; PADDING-TOP: 24px
}
.entry-content FIELDSET LEGEND {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 24px; PADDING-RIGHT: 24px; BACKGROUND: #fff; COLOR: #000; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.entry-content INPUT {
	MARGIN: 0px 0px 24px
}
.entry-content INPUT.file {
	MARGIN-RIGHT: 24px
}
.entry-content INPUT.button {
	MARGIN-RIGHT: 24px
}
.entry-content LABEL {
	COLOR: #888; FONT-SIZE: 12px
}
.entry-content SELECT {
	MARGIN: 0px 0px 24px
}
.entry-content SUP {
	FONT-SIZE: 10px
}
.entry-content SUB {
	FONT-SIZE: 10px
}
.entry-content BLOCKQUOTE.left {
	TEXT-ALIGN: right; WIDTH: 33%; FLOAT: left; MARGIN-LEFT: 0px; MARGIN-RIGHT: 24px
}
.entry-content BLOCKQUOTE.right {
	TEXT-ALIGN: left; WIDTH: 33%; FLOAT: right; MARGIN-LEFT: 24px; MARGIN-RIGHT: 0px
}
.page-link {
	LINE-HEIGHT: 48px; COLOR: #000; CLEAR: both; FONT-WEIGHT: bold; WORD-SPACING: 0.5em
}
.page-link A:link {
	PADDING-BOTTOM: 0.5em; PADDING-LEFT: 0.75em; PADDING-RIGHT: 0.75em; BACKGROUND: #f1f1f1; COLOR: #333; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 0.5em
}
.page-link A:visited {
	PADDING-BOTTOM: 0.5em; PADDING-LEFT: 0.75em; PADDING-RIGHT: 0.75em; BACKGROUND: #f1f1f1; COLOR: #333; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 0.5em
}
.home .sticky .page-link A {
	BACKGROUND: #d9e8f7
}
.page-link A:active {
	COLOR: #ff4b33
}
.page-link A:hover {
	COLOR: #ff4b33
}
BODY.page .edit-link {
	DISPLAY: block; CLEAR: both
}
#entry-author-info {
	PADDING-BOTTOM: 18px; LINE-HEIGHT: 20px; MARGIN: 24px 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BACKGROUND: #f2f7fc; CLEAR: both; FONT-SIZE: 14px; OVERFLOW: hidden; BORDER-TOP: #000 4px solid; PADDING-TOP: 18px
}
#entry-author-info #author-avatar {
	BORDER-BOTTOM: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; PADDING-BOTTOM: 11px; MARGIN: 0px -104px 0px 0px; PADDING-LEFT: 11px; PADDING-RIGHT: 11px; BACKGROUND: #fff; FLOAT: left; HEIGHT: 60px; BORDER-TOP: #e7e7e7 1px solid; BORDER-RIGHT: #e7e7e7 1px solid; PADDING-TOP: 11px
}
#entry-author-info #author-description {
	MARGIN: 0px 0px 0px 104px; FLOAT: left
}
#entry-author-info H2 {
	MARGIN-BOTTOM: 0px; COLOR: #000; FONT-SIZE: 100%; FONT-WEIGHT: bold
}
.entry-utility {
	LINE-HEIGHT: 18px; COLOR: #888; CLEAR: both; FONT-SIZE: 12px
}
.entry-meta A {
	COLOR: #888
}
.entry-utility A {
	COLOR: #888
}
.entry-meta A:hover {
	COLOR: #ff4b33
}
.entry-utility A:hover {
	COLOR: #ff4b33
}
#content .video-player {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.home #content .format-aside P {
	LINE-HEIGHT: 20px; MARGIN-TOP: 0px; MARGIN-BOTTOM: 10px; FONT-SIZE: 14px
}
.home #content .category-asides P {
	LINE-HEIGHT: 20px; MARGIN-TOP: 0px; MARGIN-BOTTOM: 10px; FONT-SIZE: 14px
}
.home .format-aside.hentry {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.home .category-asides.hentry {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.home #content .format-aside .entry-content {
	PADDING-TOP: 0px
}
.home #content .category-asides .entry-content {
	PADDING-TOP: 0px
}
.format-gallery .size-thumbnail IMG {
	BORDER-BOTTOM: #f1f1f1 10px solid; BORDER-LEFT: #f1f1f1 10px solid; MARGIN-BOTTOM: 0px; BORDER-TOP: #f1f1f1 10px solid; BORDER-RIGHT: #f1f1f1 10px solid
}
.category-gallery .size-thumbnail IMG {
	BORDER-BOTTOM: #f1f1f1 10px solid; BORDER-LEFT: #f1f1f1 10px solid; MARGIN-BOTTOM: 0px; BORDER-TOP: #f1f1f1 10px solid; BORDER-RIGHT: #f1f1f1 10px solid
}
.format-gallery .gallery-thumb {
	MARGIN-TOP: -4px; FLOAT: left; MARGIN-RIGHT: 20px
}
.category-gallery .gallery-thumb {
	MARGIN-TOP: -4px; FLOAT: left; MARGIN-RIGHT: 20px
}
.home #content .format-gallery .entry-utility {
	PADDING-TOP: 4px
}
.home #content .category-gallery .entry-utility {
	PADDING-TOP: 4px
}
.attachment .entry-content .entry-caption {
	MARGIN-TOP: 24px; FONT-SIZE: 140%
}
.attachment .entry-content .nav-previous A:before {
	CONTENT: '\2190\00a0'
}
.attachment .entry-content .nav-next A:after {
	CONTENT: '\00a0\2192'
}
IMG.size-auto {
	MAX-WIDTH: 100%; HEIGHT: auto
}
IMG.size-full {
	MAX-WIDTH: 100%; HEIGHT: auto
}
IMG.size-large {
	MAX-WIDTH: 100%; HEIGHT: auto
}
IMG.size-medium {
	MAX-WIDTH: 100%; HEIGHT: auto
}
.attachment IMG {
	MAX-WIDTH: 100%; HEIGHT: auto
}
.widget-container IMG {
	MAX-WIDTH: 100%; HEIGHT: auto
}
.alignleft {
	MARGIN-TOP: 4px; DISPLAY: inline; FLOAT: left; MARGIN-RIGHT: 24px
}
IMG.alignleft {
	MARGIN-TOP: 4px; DISPLAY: inline; FLOAT: left; MARGIN-RIGHT: 24px
}
.alignright {
	MARGIN-TOP: 4px; DISPLAY: inline; FLOAT: right; MARGIN-LEFT: 24px
}
IMG.alignright {
	MARGIN-TOP: 4px; DISPLAY: inline; FLOAT: right; MARGIN-LEFT: 24px
}
.aligncenter {
	DISPLAY: block; MARGIN-LEFT: auto; CLEAR: both; MARGIN-RIGHT: auto
}
IMG.aligncenter {
	DISPLAY: block; MARGIN-LEFT: auto; CLEAR: both; MARGIN-RIGHT: auto
}
IMG.alignleft {
	MARGIN-BOTTOM: 12px
}
IMG.alignright {
	MARGIN-BOTTOM: 12px
}
IMG.aligncenter {
	MARGIN-BOTTOM: 12px
}
.wp-caption {
	TEXT-ALIGN: center; PADDING-BOTTOM: 4px; LINE-HEIGHT: 18px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; MAX-WIDTH: 632px !important; MARGIN-BOTTOM: 20px; BACKGROUND: #f1f1f1; PADDING-TOP: 4px
}
.wp-caption IMG {
	MARGIN: 5px 5px 0px
}
.wp-caption P.wp-caption-text {
	MARGIN: 5px; COLOR: #888; FONT-SIZE: 12px
}
.wp-smiley {
	MARGIN: 0px
}
.gallery {
	MARGIN: 0px auto 18px
}
.gallery .gallery-item {
	TEXT-ALIGN: center; MARGIN-TOP: 0px; WIDTH: 33%; FLOAT: left
}
.gallery-columns-2 .gallery-item {
	WIDTH: 50%
}
.gallery-columns-4 .gallery-item {
	WIDTH: 25%
}
.gallery IMG {
	BORDER-BOTTOM: #cfcfcf 2px solid; BORDER-LEFT: #cfcfcf 2px solid; BORDER-TOP: #cfcfcf 2px solid; BORDER-RIGHT: #cfcfcf 2px solid
}
.gallery-columns-2 .attachment-medium {
	MAX-WIDTH: 92%; HEIGHT: auto
}
.gallery-columns-4 .attachment-thumbnail {
	MAX-WIDTH: 84%; HEIGHT: auto
}
.gallery .gallery-caption {
	MARGIN: 0px 0px 12px; COLOR: #888; FONT-SIZE: 12px
}
.gallery DL {
	MARGIN: 0px
}
.gallery IMG {
	BORDER-BOTTOM: #f1f1f1 10px solid; BORDER-LEFT: #f1f1f1 10px solid; BORDER-TOP: #f1f1f1 10px solid; BORDER-RIGHT: #f1f1f1 10px solid
}
.gallery BR + BR {
	DISPLAY: none
}
#content .attachment IMG {
	MARGIN: 0px auto; DISPLAY: block
}
.navigation {
	LINE-HEIGHT: 18px; COLOR: #888; FONT-SIZE: 12px; OVERFLOW: hidden
}
.navigation A:link {
	COLOR: #888; TEXT-DECORATION: none
}
.navigation A:visited {
	COLOR: #888; TEXT-DECORATION: none
}
.navigation A:active {
	COLOR: #ff4b33
}
.navigation A:hover {
	COLOR: #ff4b33
}
.nav-previous {
	WIDTH: 50%; FLOAT: left
}
.nav-next {
	TEXT-ALIGN: right; WIDTH: 50%; FLOAT: right
}
#nav-above {
	MARGIN: 0px 0px 18px
}
#nav-above {
	DISPLAY: none
}
.paged #nav-above {
	DISPLAY: block
}
.single #nav-above {
	DISPLAY: block
}
#nav-below {
	MARGIN: -18px 0px 0px
}
#comments {
	CLEAR: both
}
#comments .navigation {
	PADDING-BOTTOM: 18px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3#comments-title {
	MARGIN-BOTTOM: 0px; COLOR: #000; FONT-SIZE: 20px; FONT-WEIGHT: bold
}
H3#reply-title {
	MARGIN-BOTTOM: 0px; COLOR: #000; FONT-SIZE: 20px; FONT-WEIGHT: bold
}
H3#comments-title {
	PADDING-BOTTOM: 24px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 24px
}
.commentlist {
	LIST-STYLE-TYPE: none; MARGIN: 0px; LIST-STYLE-IMAGE: none
}
.commentlist LI.comment {
	BORDER-BOTTOM: #e7e7e7 1px solid; POSITION: relative; PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; MARGIN: 0px 0px 24px; PADDING-LEFT: 56px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#comments .comment-body UL {
	MARGIN-BOTTOM: 18px
}
#comments .comment-body OL {
	MARGIN-BOTTOM: 18px
}
.commentlist OL {
	LIST-STYLE-TYPE: decimal
}
.commentlist .avatar {
	POSITION: absolute; TOP: 4px; LEFT: 0px
}
.comment-author {
	
}
.comment-author CITE {
	FONT-STYLE: normal; COLOR: #000; FONT-WEIGHT: bold
}
.comment-author .says {
	FONT-STYLE: italic
}
.comment-meta {
	MARGIN: 0px 0px 18px; FONT-SIZE: 12px
}
.comment-meta A:link {
	COLOR: #888; TEXT-DECORATION: none
}
.comment-meta A:visited {
	COLOR: #888; TEXT-DECORATION: none
}
.comment-meta A:active {
	COLOR: #ff4b33
}
.comment-meta A:hover {
	COLOR: #ff4b33
}
.commentlist .even {
	
}
.commentlist .bypostauthor {
	
}
.reply {
	PADDING-BOTTOM: 24px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.reply A {
	COLOR: #888
}
A.comment-edit-link {
	COLOR: #888
}
.reply A:hover {
	COLOR: #ff4b33
}
A.comment-edit-link:hover {
	COLOR: #ff4b33
}
.commentlist .children {
	LIST-STYLE-TYPE: none; MARGIN: 0px; LIST-STYLE-IMAGE: none
}
.commentlist .children LI {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; MARGIN: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.nopassword {
	DISPLAY: none
}
.nocomments {
	DISPLAY: none
}
#comments .pingback {
	BORDER-BOTTOM: #e7e7e7 1px solid; PADDING-BOTTOM: 18px; MARGIN-BOTTOM: 18px
}
.commentlist LI.comment + LI.pingback {
	MARGIN-TOP: -6px
}
#comments .pingback P {
	LINE-HEIGHT: 18px; MARGIN: 0px; DISPLAY: block; COLOR: #888; FONT-SIZE: 12px
}
#comments .pingback .url {
	FONT-STYLE: italic; FONT-SIZE: 13px
}
INPUT[type='submit'] {
	COLOR: #333
}
#respond {
	POSITION: relative; MARGIN: 24px 0px; OVERFLOW: hidden; BORDER-TOP: #e7e7e7 1px solid
}
#respond P {
	MARGIN: 0px
}
#respond .comment-notes {
	MARGIN-BOTTOM: 1em
}
.form-allowed-tags {
	LINE-HEIGHT: 1em
}
.children #respond {
	MARGIN: 0px 48px 0px 0px
}
H3#reply-title {
	MARGIN: 18px 0px
}
#comments-list #respond {
	MARGIN: 0px 0px 18px
}
#comments-list UL #respond {
	MARGIN: 0px
}
#cancel-comment-reply-link {
	LINE-HEIGHT: 18px; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
#respond .required {
	COLOR: #ff4b33; FONT-WEIGHT: bold
}
#respond LABEL {
	COLOR: #888; FONT-SIZE: 12px
}
#respond INPUT {
	MARGIN: 0px 0px 9px; WIDTH: 98%
}
#respond TEXTAREA {
	WIDTH: 98%
}
#respond .form-allowed-tags {
	LINE-HEIGHT: 18px; COLOR: #888; FONT-SIZE: 12px
}
#respond .form-allowed-tags CODE {
	FONT-SIZE: 11px
}
#respond .form-submit {
	MARGIN: 12px 0px
}
#respond .form-submit INPUT {
	WIDTH: auto; FONT-SIZE: 14px
}
.widget-area UL {
	LIST-STYLE-TYPE: none; MARGIN-LEFT: 0px; LIST-STYLE-IMAGE: none
}
.widget-area UL UL {
	LIST-STYLE-TYPE: square; MARGIN-LEFT: 1.3em
}
.widget-area SELECT {
	MAX-WIDTH: 100%
}
.widget_search #s {
	WIDTH: 60%
}
.widget_search LABEL {
	DISPLAY: none
}
.widget-container {
	MARGIN: 0px 0px 18px; WORD-WRAP: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto
}
.widget-container .wp-caption IMG {
	MARGIN: auto
}
.widget-title {
	COLOR: #222; FONT-WEIGHT: bold
}
.widget-area A:link {
	TEXT-DECORATION: none
}
.widget-area A:visited {
	TEXT-DECORATION: none
}
.widget-area A:active {
	TEXT-DECORATION: underline
}
.widget-area A:hover {
	TEXT-DECORATION: underline
}
.widget-area .entry-meta {
	FONT-SIZE: 11px
}
#wp_tag_cloud DIV {
	LINE-HEIGHT: 1.6em
}
#wp-calendar {
	WIDTH: 100%
}
#wp-calendar CAPTION {
	TEXT-ALIGN: left; PADDING-BOTTOM: 4px; COLOR: #222; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#wp-calendar THEAD {
	FONT-SIZE: 11px
}
#wp-calendar THEAD TH {
	
}
#wp-calendar TBODY {
	COLOR: #aaa
}
#wp-calendar TBODY TD {
	BORDER-BOTTOM: #fff 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #fff 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #f5f5f5; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid; PADDING-TOP: 3px
}
#wp-calendar TBODY .pad {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#wp-calendar TFOOT #next {
	TEXT-ALIGN: right
}
.widget_rss A.rsswidget {
	COLOR: #000
}
.widget_rss A.rsswidget:hover {
	COLOR: #ff4b33
}
.widget_rss .widget-title IMG {
	WIDTH: 11px; HEIGHT: 11px
}
#main .widget-area UL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 20px; MARGIN-LEFT: 0px; PADDING-TOP: 0px
}
#main .widget-area UL UL {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-LEFT: 1.3em; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
#primary {
	
}
#secondary {
	
}
#footer-widget-area {
	
}
#footer {
	MARGIN-BOTTOM: 20px
}
#colophon {
	PADDING-BOTTOM: 18px; MARGIN-TOP: -4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; BORDER-TOP: #000 4px solid; PADDING-TOP: 18px
}
#site-info {
	FONT-WEIGHT: bold
}
#site-info A {
	COLOR: #000; TEXT-DECORATION: none
}
#site-generator {
	POSITION: relative; FONT-STYLE: italic
}
#site-generator A {
	LINE-HEIGHT: 16px; PADDING-LEFT: 20px; DISPLAY: inline-block; BACKGROUND: url(images/wordpress.png) no-repeat left center; COLOR: #666; TEXT-DECORATION: none
}
#site-generator A:hover {
	TEXT-DECORATION: underline
}
IMG#wpstats {
	MARGIN: 0px auto 10px; DISPLAY: block
}
PRE {
	-webkit-text-size-adjust: 140%
}
CODE {
	-webkit-text-size-adjust: 160%
}
#access {
	-webkit-text-size-adjust: 120%
}
.entry-meta {
	-webkit-text-size-adjust: 120%
}
.entry-utility {
	-webkit-text-size-adjust: 120%
}
.navigation {
	-webkit-text-size-adjust: 120%
}
.widget-area {
	-webkit-text-size-adjust: 120%
}
#site-description {
	-webkit-text-size-adjust: none
}

@media Print    
{
BODY {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#wrapper {
	POSITION: relative !important; DISPLAY: block !important; FLOAT: none !important; CLEAR: both !important
}
#header {
	BORDER-BOTTOM: #000 2pt solid; PADDING-BOTTOM: 18pt
}
#colophon {
	BORDER-TOP: #000 2pt solid
}
#site-title {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.4em; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: none; PADDING-TOP: 0px
}
#site-description {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.4em; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: none; PADDING-TOP: 0px
}
#site-title {
	FONT-SIZE: 13pt
}
.entry-content {
	LINE-HEIGHT: 1.6em; FONT-SIZE: 14pt
}
.entry-title {
	FONT-SIZE: 21pt
}
#access {
	DISPLAY: none !important
}
#branding IMG {
	DISPLAY: none !important
}
#respond {
	DISPLAY: none !important
}
.comment-edit-link {
	DISPLAY: none !important
}
.edit-link {
	DISPLAY: none !important
}
.navigation {
	DISPLAY: none !important
}
.page-link {
	DISPLAY: none !important
}
.widget-area {
	DISPLAY: none !important
}
#container {
	MARGIN: 0px; WIDTH: 100%
}
#header {
	MARGIN: 0px; WIDTH: 100%
}
#footer {
	MARGIN: 0px; WIDTH: 100%
}
#content {
	MARGIN: 24pt 0px 0px; WIDTH: 100%
}
.one-column #content {
	MARGIN: 24pt 0px 0px; WIDTH: 100%
}
.wp-caption P {
	FONT-SIZE: 11pt
}
#site-info {
	WIDTH: auto; FLOAT: none
}
#site-generator {
	WIDTH: auto; FLOAT: none
}
#colophon {
	WIDTH: auto
}
IMG#wpstats {
	DISPLAY: none
}
#site-generator A {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#entry-author-info {
	BORDER-BOTTOM: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; BORDER-TOP: #e7e7e7 1px solid; BORDER-RIGHT: #e7e7e7 1px solid
}
#main {
	DISPLAY: inline
}
.home .sticky {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}

}
