BODY {
	FONT-STYLE: normal; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 14px; FONT-WEIGHT: normal; font-size-adjust: none; font-font-variant: normal
}
P {
	FONT-STYLE: normal; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 14px; FONT-WEIGHT: normal; font-size-adjust: none; font-font-variant: normal
}
UL {
	FONT-STYLE: normal; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 14px; FONT-WEIGHT: normal; font-size-adjust: none; font-font-variant: normal
}
OL {
	FONT-STYLE: normal; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 14px; FONT-WEIGHT: normal; font-size-adjust: none; font-font-variant: normal
}
.bodytext {
	FONT-STYLE: normal; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 14px; FONT-WEIGHT: normal; font-size-adjust: none; font-font-variant: normal
}
.stepfield {
	FONT-STYLE: normal; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 14px; FONT-WEIGHT: normal; font-size-adjust: none; font-font-variant: normal
}
UL {
	FONT-SIZE: 12px
}
OL {
	FONT-SIZE: 12px
}
TD {
	LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 10px; FONT-WEIGHT: normal; font-size-adjust: none; font-font-variant: normal
}
TABLE {
	LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 10px; FONT-WEIGHT: normal; font-size-adjust: none; font-font-variant: normal
}
TR {
	LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 10px; FONT-WEIGHT: normal; font-size-adjust: none; font-font-variant: normal
}
TABLE.sectionMacro TD {
	LINE-HEIGHT: 150%; FONT-SIZE: 14px
}
TABLE.sectionMacro TD P {
	LINE-HEIGHT: 150%; FONT-SIZE: 14px
}
.wiki-content {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 200%; PADDING-LEFT: 45px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.monospaceInput {
	FONT: 12px monospace
}
.wiki-content P {
	PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.commentblock P {
	PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.wiki-content-preview {
	BORDER-LEFT: #3c78b5 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-RIGHT: #3c78b5 1px solid; PADDING-TOP: 5px
}
A SUP IMG {
	WIDTH: 0px; HEIGHT: 0px
}
A:link {
	COLOR: #880055; TEXT-DECORATION: none
}
A:visited {
	COLOR: #880055; TEXT-DECORATION: none
}
A:active {
	COLOR: #880055; TEXT-DECORATION: none
}
A:hover {
	COLOR: #880055; TEXT-DECORATION: none
}
A:active {
	COLOR: #202020; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #202020; TEXT-DECORATION: underline
}
UL {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 15px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 15px; PADDING-TOP: 0px
}
UL LI {
	LIST-STYLE-IMAGE: url(../images/small-bullet-red.png)
}
UL LI UL LI {
	LIST-STYLE-IMAGE: url(../images/small-bullet-gray.png)
}
PRE {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; MARGIN: 5px 5px 5px 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.helpheading {
	BORDER-BOTTOM: #3c78b5 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #d0d9bd; MARGIN: 10px 0px 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; FONT-WEIGHT: bold; PADDING-TOP: 4px
}
.helpcontent {
	PADDING-BOTTOM: 20px; BACKGROUND-COLOR: #f5f7f1; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
.code {
	BORDER-BOTTOM: #3c78b5 1px dashed; BORDER-LEFT: #3c78b5 1px dashed; LINE-HEIGHT: 13px; MARGIN: 10px 10px 10px 0px; FONT-FAMILY: Courier; FONT-SIZE: 11px; BORDER-TOP: #3c78b5 1px dashed; BORDER-RIGHT: #3c78b5 1px dashed
}
.focusedComment {
	BACKGROUND: #ffffce
}
.commentBox {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; PADDING-BOTTOM: 10px; MARGIN: 5px 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid; PADDING-TOP: 10px
}
.focusedComment {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; PADDING-BOTTOM: 10px; MARGIN: 5px 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid; PADDING-TOP: 10px
}
.codeHeader {
	BORDER-BOTTOM: #3c78b5 1px dashed; TEXT-ALIGN: center; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #f0f0f0; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px
}
.codeContent {
	TEXT-ALIGN: left; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #f0f0f0; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px
}
.preformatted {
	BORDER-BOTTOM: #3c78b5 1px dashed; BORDER-LEFT: #3c78b5 1px dashed; LINE-HEIGHT: 13px; MARGIN: 10px; FONT-FAMILY: Courier; FONT-SIZE: 11px; BORDER-TOP: #3c78b5 1px dashed; BORDER-RIGHT: #3c78b5 1px dashed
}
.preformattedHeader {
	BORDER-BOTTOM: #3c78b5 1px dashed; TEXT-ALIGN: center; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #f0f0f0; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px
}
.preformattedContent {
	PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #f0f0f0; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px
}
.panel {
	BORDER-BOTTOM: #3c78b5 1px dashed; BORDER-LEFT: #3c78b5 1px dashed; MARGIN: 0px 10px 10px; BORDER-TOP: #3c78b5 1px dashed; BORDER-RIGHT: #3c78b5 1px dashed
}
.panelHeader {
	BORDER-BOTTOM: #3c78b5 1px dashed; TEXT-ALIGN: center; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #f0f0f0; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px
}
.panelContent {
	PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #f0f0f0; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.anonymousAlert {
	BORDER-BOTTOM: red 1px dashed; BORDER-LEFT: red 1px dashed; PADDING-BOTTOM: 10px; LINE-HEIGHT: 13px; BACKGROUND-COLOR: #f0f0f0; MARGIN: 4px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-SIZE: 11px; BORDER-TOP: red 1px dashed; BORDER-RIGHT: red 1px dashed; PADDING-TOP: 10px
}
.lockAlert {
	BORDER-BOTTOM: red 1px dashed; BORDER-LEFT: red 1px dashed; PADDING-BOTTOM: 10px; LINE-HEIGHT: 13px; BACKGROUND-COLOR: #f0f0f0; MARGIN: 4px; PADDING-LEFT: 5px; WIDTH: 50%; PADDING-RIGHT: 5px; FONT-SIZE: 11px; BORDER-TOP: red 1px dashed; BORDER-RIGHT: red 1px dashed; PADDING-TOP: 10px
}
.code-keyword {
	BACKGROUND-COLOR: inherit; COLOR: #000091
}
.code-object {
	BACKGROUND-COLOR: inherit; COLOR: #910091
}
.code-quote {
	BACKGROUND-COLOR: inherit; COLOR: #009100
}
.code-comment {
	BACKGROUND-COLOR: inherit; COLOR: #808080
}
.code-xml .code-keyword {
	COLOR: inherit; FONT-WEIGHT: bold
}
.code-tag {
	BACKGROUND-COLOR: inherit; COLOR: #000091
}
.breadcrumbs {
	BORDER-BOTTOM: #3c78b5 1px solid; BORDER-LEFT: #3c78b5 0px solid; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #f0f0f0; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 11px; BORDER-TOP: #3c78b5 1px solid; BORDER-RIGHT: #3c78b5 0px solid; PADDING-TOP: 3px
}
.navmenu {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.menuheading {
	BORDER-BOTTOM: #3c78b5 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #f0f0f0; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; FONT-WEIGHT: bold; PADDING-TOP: 4px
}
.menuitems {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
.rightpanel {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid
}
#helpheading {
	BORDER-BOTTOM: #3c78b5 1px solid; TEXT-ALIGN: left; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #d0d9bd; MARGIN: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; FONT-WEIGHT: bold; PADDING-TOP: 4px
}
#helpcontent {
	PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #f5f7f1; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
.helptab-unselected {
	PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #f5f7f1; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.helptab-selected {
	PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #d0d9bd; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.helptabs {
	PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #f5f7f1; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.infopanel-heading {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-WEIGHT: bold; PADDING-TOP: 4px
}
.pagebody {
	
}
.pageheader {
	BORDER-BOTTOM: #3c78b5 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.steptitle {
	FONT-FAMILY: Arial, sans-serif; MARGIN-BOTTOM: 7px; COLOR: #660033; FONT-SIZE: 18px; FONT-WEIGHT: bold
}
.substeptitle {
	PADDING-BOTTOM: 1px; MARGIN: 2px 4px 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; FONT-FAMILY: Arial, sans-serif; COLOR: #660033; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
.stepdesc {
	LINE-HEIGHT: 16px; MARGIN-TOP: 7px; FONT-FAMILY: Verdana, arial, sans-serif; MARGIN-BOTTOM: 7px; COLOR: #666666; FONT-SIZE: 11px; FONT-WEIGHT: normal
}
.steplabel {
	TEXT-ALIGN: right; WIDTH: 15%; FLOAT: left; COLOR: black; FONT-WEIGHT: bold; MARGIN-RIGHT: 4px
}
.stepfield {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #f0f0f0; PADDING-TOP: 5px
}
.submitButtons {
	TEXT-ALIGN: right; MARGIN-TOP: 5px
}
.formtitle {
	FONT-FAMILY: Arial, sans-serif; COLOR: #660033; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.sectionbottom {
	BORDER-BOTTOM: #3c78b5 1px solid
}
.topRow {
	BORDER-TOP: #3c78b5 2px solid
}
.tabletitle {
	BORDER-BOTTOM: #3c78b5 2px solid; PADDING-BOTTOM: 2px; MARGIN: 8px 4px 2px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; COLOR: #660033; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 3px
}
.pagesubheading {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #666666; FONT-SIZE: 10px; PADDING-TOP: 0px
}
HR {
	
}
H1 A:link {
	TEXT-DECORATION: none
}
H1 A:visited {
	TEXT-DECORATION: none
}
H1 A:active {
	TEXT-DECORATION: none
}
H1 A:hover {
	BORDER-BOTTOM: #660033 1px dotted
}
.wiki-content > :first-child {
	MARGIN-TOP: 3px
}
.commentblock > :first-child {
	MARGIN-TOP: 3px
}
.logocell {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
INPUT {
	FONT-FAMILY: verdana, geneva, arial, sans-serif; COLOR: #000000; FONT-SIZE: 11px
}
TEXTAREA {
	FONT-FAMILY: verdana, geneva, arial, sans-serif; COLOR: #333333; FONT-SIZE: 11px
}
TEXTAREA.editor {
	FONT-FAMILY: verdana, geneva, arial, sans-serif; COLOR: #333333; FONT-SIZE: 11px
}
.spacenametitle-printable {
	MARGIN: 0px; FONT: 100 20px/25px Impact, Arial, Helvetica; COLOR: #999999
}
.spacenametitle-printable A {
	COLOR: #999999; TEXT-DECORATION: none
}
.spacenametitle-printable A:visited {
	COLOR: #999999; TEXT-DECORATION: none
}
.blogDate {
	COLOR: black; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
DIV.blogpost {
	MARGIN-LEFT: 0px
}
DIV.blogpost DIV.wiki-content {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.blogSurtitle {
	MARGIN: 1px 10px 10px 1px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: right
}
.blogHeading {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 3px; LINE-HEIGHT: normal; MARGIN: 1px 1px 10px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND: #f0f0f0; FONT-SIZE: 15px; BORDER-TOP: #ddd 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 3px
}
.blogHeading A {
	COLOR: black; TEXT-DECORATION: none
}
.endsection {
	TEXT-ALIGN: right; MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; COLOR: #666666; FONT-SIZE: 10px
}
.endsectionleftnav {
	MARGIN-TOP: 10px; COLOR: #666666; align: right
}
H1 {
	LINE-HEIGHT: normal; FONT-FAMILY: Georgia, "Times New Roman", serif; FONT-WEIGHT: bold
}
H2 {
	LINE-HEIGHT: normal; FONT-FAMILY: Georgia, "Times New Roman", serif; FONT-WEIGHT: bold
}
H3 {
	LINE-HEIGHT: normal; FONT-FAMILY: Georgia, "Times New Roman", serif; FONT-WEIGHT: bold
}
H4 {
	LINE-HEIGHT: normal; FONT-FAMILY: Georgia, "Times New Roman", serif; FONT-WEIGHT: bold
}
H5 {
	LINE-HEIGHT: normal; FONT-FAMILY: Georgia, "Times New Roman", serif; FONT-WEIGHT: bold
}
H6 {
	LINE-HEIGHT: normal; FONT-FAMILY: Georgia, "Times New Roman", serif; FONT-WEIGHT: bold
}
H1 {
	BORDER-BOTTOM: #808080 1px solid; PADDING-BOTTOM: 2px; MARGIN: 36px 0px 4px -25px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FONT-SIZE: 20px; PADDING-TOP: 2px
}
H2 {
	BORDER-BOTTOM: #a0a0a0 1px solid; PADDING-BOTTOM: 2px; MARGIN: 27px 0px 4px -20px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FONT-SIZE: 18px; PADDING-TOP: 2px
}
H3 {
	BORDER-BOTTOM: #c0c0c0 1px solid; PADDING-BOTTOM: 2px; MARGIN: 21px 0px 4px -15px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FONT-SIZE: 16px; PADDING-TOP: 2px
}
H4 {
	BORDER-BOTTOM: #c0c0c0 1px solid; PADDING-BOTTOM: 2px; MARGIN: 18px 0px 4px -10px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FONT-SIZE: 15px; PADDING-TOP: 2px
}
H4.search {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: normal; BACKGROUND-COLOR: #f0f0f0; MARGIN: 18px 0px 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-TOP: 4px
}
H5 {
	PADDING-BOTTOM: 2px; MARGIN: 14px 0px 4px -5px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FONT-SIZE: 14px; PADDING-TOP: 2px
}
H6 {
	PADDING-BOTTOM: 2px; MARGIN: 14px 0px 4px -5px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FONT-SIZE: 13px; PADDING-TOP: 2px
}
.smallfont {
	FONT-SIZE: 10px
}
.descfont {
	COLOR: #666666; FONT-SIZE: 10px
}
.smallerfont {
	FONT-SIZE: 9px
}
.smalltext {
	COLOR: #666666; FONT-SIZE: 10px
}
.smalltext A {
	COLOR: #666666
}
.smalltext-blue {
	COLOR: #3c78b5; FONT-SIZE: 10px
}
.surtitle {
	MARGIN-BOTTOM: 5px; COLOR: #666666; MARGIN-LEFT: 1px; FONT-SIZE: 14px
}
DIV.padded {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
DIV.thickPadded {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
H3.macrolibrariestitle {
	MARGIN: 0px
}
DIV.centered {
	TEXT-ALIGN: center; MARGIN: 10px
}
DIV.centered TABLE {
	TEXT-ALIGN: left; MARGIN: 0px auto
}
.tableview TABLE {
	MARGIN: 0px
}
.tableview TH {
	BORDER-BOTTOM: #3c78b5 2px solid; TEXT-ALIGN: left; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; COLOR: #660033; FONT-SIZE: 12px; PADDING-TOP: 5px
}
.tableview TD {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #ccc 0px solid; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 10px; BORDER-TOP: #ccc 0px solid; BORDER-RIGHT: #ccc 0px solid; PADDING-TOP: 4px
}
.grid {
	MARGIN: 2px 0px 5px; BORDER-COLLAPSE: collapse
}
.grid TH {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BACKGROUND: #f0f0f0; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px
}
.grid TD {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 3px
}
.gridHover {
	BACKGROUND-COLOR: #f9f9f9
}
TD.infocell {
	BACKGROUND-COLOR: #f0f0f0
}
.label {
	COLOR: #660033; FONT-WEIGHT: bold
}
.error {
	BACKGROUND-COLOR: #fcc
}
.errorBox {
	BORDER-BOTTOM: #c00 1px solid; BORDER-LEFT: #c00 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #fcc; MARGIN: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #c00 1px solid; BORDER-RIGHT: #c00 1px solid; PADDING-TOP: 5px
}
.errorMessage {
	COLOR: #c00
}
.success {
	BACKGROUND-COLOR: #dfd
}
.successBox {
	BORDER-BOTTOM: #090 1px solid; BORDER-LEFT: #090 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #dfd; MARGIN-TOP: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; MARGIN-BOTTOM: 5px; BORDER-TOP: #090 1px solid; BORDER-RIGHT: #090 1px solid; PADDING-TOP: 5px
}
BLOCKQUOTE {
	BORDER-LEFT: #3c78b5 1px solid; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-LEFT: 5px; MARGIN-RIGHT: 0px
}
TABLE.confluenceTable {
	MARGIN: 5px; BORDER-COLLAPSE: collapse
}
TABLE.confluenceTable TD.confluenceTd {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 3px
}
TABLE.confluenceTable TH.confluenceTh {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #f0f0f0; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 3px
}
TD.confluenceTd {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 3px
}
TH.confluenceTh {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #f0f0f0; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 3px
}
DIV.small {
	FONT-SIZE: 9px
}
H1.pagename {
	MARGIN-TOP: 0px
}
IMG.inline {
	
}
.loginform {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; MARGIN: 5px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.previewnote {
	TEXT-ALIGN: center; COLOR: red; FONT-SIZE: 11px
}
.previewcontent {
	BACKGROUND: #e0e0e0
}
.messagecontent {
	BACKGROUND: #e0e0e0
}
.conflictnote {
	
}
.createlink {
	COLOR: maroon
}
A.createlink {
	COLOR: maroon
}
.templateparameter {
	COLOR: darkblue; FONT-SIZE: 9px
}
.diffadded {
	BORDER-LEFT: darkgreen 4px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 4px; PADDING-RIGHT: 1px; BACKGROUND: #ddffdd; PADDING-TOP: 1px
}
.diffdeleted {
	BORDER-LEFT: darkred 4px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 4px; PADDING-RIGHT: 1px; BACKGROUND: #ffdddd; COLOR: #999; PADDING-TOP: 1px
}
.diffnochange {
	BORDER-LEFT: lightgrey 4px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 4px; PADDING-RIGHT: 1px; PADDING-TOP: 1px
}
.differror {
	BACKGROUND: brown
}
.diff {
	LINE-HEIGHT: 14px; FONT-FAMILY: lucida console, courier new, fixed-width; FONT-SIZE: 12px
}
.diffaddedchars {
	BACKGROUND-COLOR: #99ff99; FONT-WEIGHT: bolder
}
.diffremovedchars {
	BACKGROUND-COLOR: #ff9999; FONT-WEIGHT: bolder; TEXT-DECORATION: line-through
}
.greybackground {
	BACKGROUND: #f0f0f0
}
.greybox {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 3px; MARGIN: 1px 1px 10px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 3px
}
.borderedGreyBox {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #f0f0f0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 10px
}
.greyboxfilled {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 5px; MARGIN: 10px 1px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #f0f0f0; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 5px
}
.navBackgroundBox {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Arial, sans-serif; BACKGROUND: #3c78b5; COLOR: white; FONT-SIZE: 22px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 5px
}
.previewBoxTop {
	BORDER-BOTTOM: #3c78b5 0px solid; TEXT-ALIGN: center; BORDER-LEFT: #3c78b5 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #f0f0f0; MARGIN: 5px 0px 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #3c78b5 1px solid; BORDER-RIGHT: #3c78b5 1px solid; PADDING-TOP: 5px
}
.previewContent {
	BORDER-BOTTOM: #3c78b5 0px solid; BORDER-LEFT: #3c78b5 1px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #fff; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #3c78b5 0px solid; BORDER-RIGHT: #3c78b5 1px solid; PADDING-TOP: 10px
}
.previewBoxBottom {
	BORDER-BOTTOM: #3c78b5 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #3c78b5 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #f0f0f0; MARGIN: 0px 0px 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #3c78b5 0px solid; BORDER-RIGHT: #3c78b5 1px solid; PADDING-TOP: 5px
}
.functionbox {
	BORDER-BOTTOM: #3c78b5 1px solid; BORDER-LEFT: #3c78b5 1px solid; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #f0f0f0; MARGIN: 1px 1px 10px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BORDER-TOP: #3c78b5 1px solid; BORDER-RIGHT: #3c78b5 1px solid; PADDING-TOP: 3px
}
.functionbox-greyborder {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #f0f0f0; MARGIN: 1px 1px 10px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 3px
}
.search-highlight {
	BACKGROUND-COLOR: #ffffcc
}
.rowNormal {
	BACKGROUND-COLOR: #ffffff
}
.rowAlternate {
	BACKGROUND-COLOR: #f7f7f7
}
.rowAlternateNoBottomColor {
	BACKGROUND-COLOR: #f7f7f7
}
.rowAlternateNoBottomNoColor {
	
}
.rowAlternateNoBottomColor TD {
	BORDER-BOTTOM: 0px
}
.rowAlternateNoBottomNoColor TD {
	BORDER-BOTTOM: 0px
}
.rowHighlight {
	BACKGROUND-COLOR: #f0f0f0
}
TD.greenbar {
	BORDER-BOTTOM: #9c9c9c 1px solid; BORDER-LEFT: #9c9c9c 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #00df00; FONT-SIZE: 2px; BORDER-TOP: #9c9c9c 1px solid; BORDER-RIGHT: #9c9c9c 1px solid; PADDING-TOP: 0px
}
TD.redbar {
	BORDER-BOTTOM: #9c9c9c 1px solid; BORDER-LEFT: #9c9c9c 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #df0000; FONT-SIZE: 2px; BORDER-TOP: #9c9c9c 1px solid; BORDER-RIGHT: #9c9c9c 1px solid; PADDING-TOP: 0px
}
TD.darkredbar {
	BORDER-BOTTOM: #9c9c9c 1px solid; BORDER-LEFT: #9c9c9c 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #af0000; FONT-SIZE: 2px; BORDER-TOP: #9c9c9c 1px solid; BORDER-RIGHT: #9c9c9c 1px solid; PADDING-TOP: 0px
}
TR.testpassed {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #ddffdd; FONT-SIZE: 2px; PADDING-TOP: 0px
}
TR.testfailed {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #ffdddd; FONT-SIZE: 2px; PADDING-TOP: 0px
}
.toolbar {
	MARGIN: 0px; BORDER-COLLAPSE: collapse
}
.toolbar TD {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; COLOR: #ccc; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px
}
TD.noformatting {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: center; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.commentblock {
	MARGIN: 12px 0px
}
.license-eval {
	TEXT-ALIGN: center; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px; BORDER-TOP: #bbbbbb 1px solid
}
.license-none {
	TEXT-ALIGN: center; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px; BORDER-TOP: #bbbbbb 1px solid
}
.license-nonprofit {
	TEXT-ALIGN: center; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px; BORDER-TOP: #bbbbbb 1px solid
}
.license-eval {
	BACKGROUND-COLOR: #ffcccc
}
.license-none {
	BACKGROUND-COLOR: #ffcccc
}
.license-eval B {
	COLOR: #990000
}
.license-none B {
	COLOR: #990000
}
.license-nonprofit {
	BACKGROUND-COLOR: #ffffff
}
.bottomshadow {
	BACKGROUND-IMAGE: url($req.contextPath/images/border/border_bottom.gif); BACKGROUND-REPEAT: repeat-x; HEIGHT: 12px
}
.navmenu .operations LI {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 0px; MARGIN-LEFT: 0px; LIST-STYLE-IMAGE: none
}
.navmenu .operations UL {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 0px; MARGIN-LEFT: 0px; LIST-STYLE-IMAGE: none
}
.navmenu .operations UL {
	MARGIN-BOTTOM: 9px
}
.navmenu .label {
	FONT-WEIGHT: inherit
}
.toolbar DIV {
	DISPLAY: none
}
.toolbar .label {
	DISPLAY: none
}
.toolbar .operations {
	DISPLAY: block
}
.toolbar .operations UL {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 0px; DISPLAY: inline; MARGIN-LEFT: 10px; LIST-STYLE-IMAGE: none
}
.toolbar .operations LI {
	LIST-STYLE-TYPE: none; DISPLAY: inline; LIST-STYLE-IMAGE: none
}
.blogcalendar * {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 140%; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FONT-FAMILY: verdana, arial, sans-serif; FONT-SIZE: x-small; FONT-WEIGHT: normal; PADDING-TOP: 2px
}
TABLE.blogcalendar {
	BORDER-BOTTOM: #3c78b5 1px solid; BORDER-LEFT: #3c78b5 1px solid; BORDER-TOP: #3c78b5 1px solid; BORDER-RIGHT: #3c78b5 1px solid
}
.blogcalendar TH.calendarhead {
	PADDING-BOTTOM: 2px; TEXT-TRANSFORM: uppercase; BACKGROUND-COLOR: #3c78b5; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; LETTER-SPACING: 0.3em; COLOR: #ffffff; FONT-SIZE: x-small; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
A.calendarhead {
	PADDING-BOTTOM: 2px; TEXT-TRANSFORM: uppercase; BACKGROUND-COLOR: #3c78b5; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; LETTER-SPACING: 0.3em; COLOR: #ffffff; FONT-SIZE: x-small; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
.calendarhead:visited {
	COLOR: white
}
.calendarhead:active {
	COLOR: white
}
.calendarhead:hover {
	COLOR: white
}
.warningPanel {
	BORDER-BOTTOM: #f0c000 1px solid; BORDER-LEFT: #f0c000 1px solid; PADDING-BOTTOM: 8px; MARGIN: 10px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND: #ffffce; BORDER-TOP: #f0c000 1px solid; BORDER-RIGHT: #f0c000 1px solid; PADDING-TOP: 8px
}
.alertPanel {
	BORDER-BOTTOM: #c00 1px solid; BORDER-LEFT: #c00 1px solid; PADDING-BOTTOM: 8px; MARGIN: 10px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND: #ffcccc; BORDER-TOP: #c00 1px solid; BORDER-RIGHT: #c00 1px solid; PADDING-TOP: 8px
}
.optionPadded {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
.optionSelected {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #ffffcc; MARGIN: -1px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 2px
}
.optionSelected A {
	COLOR: black; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.noteMacro {
	BORDER-BOTTOM: #f0c000 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #f0c000 1px solid; BACKGROUND-COLOR: #ffffce; MARGIN-TOP: 15px; MARGIN-BOTTOM: 5px; BORDER-TOP: #f0c000 1px solid; BORDER-RIGHT: #f0c000 1px solid
}
.warningMacro {
	TEXT-ALIGN: left
}
.infoMacro {
	BORDER-BOTTOM: #3c78b5 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #3c78b5 1px solid; BACKGROUND-COLOR: #d8e4f1; MARGIN-TOP: 15px; MARGIN-BOTTOM: 5px; BORDER-TOP: #3c78b5 1px solid; BORDER-RIGHT: #3c78b5 1px solid
}
.tipMacro {
	BORDER-BOTTOM: #090 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #090 1px solid; BACKGROUND-COLOR: #dfd; MARGIN-TOP: 15px; MARGIN-BOTTOM: 5px; BORDER-TOP: #090 1px solid; BORDER-RIGHT: #090 1px solid
}
.informationMacroPadding {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
TABLE.infoMacro TD {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
TABLE.warningMacro TD {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
TABLE.tipMacro TD {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
TABLE.noteMacro TD {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
TABLE.sectionMacro TD {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
TABLE.infoMacro P {
	FONT-SIZE: x-small
}
TABLE.warningMacro P {
	FONT-SIZE: x-small
}
TABLE.tipMacro P {
	FONT-SIZE: x-small
}
TABLE.noteMacro P {
	FONT-SIZE: x-small
}
TABLE.sectionMacro P {
	FONT-SIZE: x-small
}
TABLE.sectionMacroWithBorder TD.columnMacro {
	BORDER-BOTTOM: #cccccc 1px dashed; BORDER-LEFT: #cccccc 1px dashed; BORDER-TOP: #cccccc 1px dashed; BORDER-RIGHT: #cccccc 1px dashed
}
DIV.headerField {
	WIDTH: auto; FLOAT: left; HEIGHT: 100%
}
.headerFloat {
	WIDTH: 50%; MARGIN-LEFT: auto
}
.headerFloatLeft {
	MARGIN-BOTTOM: 10px; FLOAT: left; MARGIN-RIGHT: 20px
}
#headerRow {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.top10 A {
	COLOR: #660033; FONT-SIZE: 2em; FONT-WEIGHT: bold
}
.top25 A {
	COLOR: #660033; FONT-SIZE: 1.6em; FONT-WEIGHT: bold
}
.top50 A {
	COLOR: #660033; FONT-SIZE: 1.4em
}
.top100 A {
	COLOR: #660033; FONT-SIZE: 1.2em
}
.heatmap {
	LIST-STYLE-TYPE: none; MARGIN: 0px auto; WIDTH: 95%; LIST-STYLE-IMAGE: none
}
.heatmap A {
	TEXT-DECORATION: none
}
.heatmap A:hover {
	TEXT-DECORATION: underline
}
.heatmap LI {
	DISPLAY: inline
}
.minitab {
	BORDER-BOTTOM: #3c78b5 1px solid; PADDING-BOTTOM: 3px; MARGIN-TOP: 1px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; FONT: bold 9px Verdana, sans-serif; MARGIN-BOTTOM: 0px; FLOAT: none; MARGIN-LEFT: 0px; TEXT-DECORATION: none; PADDING-TOP: 3px
}
.selectedminitab {
	BORDER-BOTTOM: white 1px solid; BORDER-LEFT: #3c78b5 1px solid; PADDING-BOTTOM: 3px; MARGIN-TOP: 1px; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; BACKGROUND: white; COLOR: #000000; MARGIN-LEFT: 3px; BORDER-TOP: #3c78b5 1px solid; BORDER-RIGHT: #3c78b5 1px solid; TEXT-DECORATION: none; PADDING-TOP: 3px
}
.unselectedminitab {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #3c78b5 1px solid; PADDING-BOTTOM: 3px; MARGIN-TOP: 1px; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; BACKGROUND: #3c78b5; COLOR: #ffffff; MARGIN-LEFT: 3px; BORDER-TOP: #3c78b5 1px solid; BORDER-RIGHT: #3c78b5 1px solid; TEXT-DECORATION: none; PADDING-TOP: 3px
}
A.unselectedminitab:hover {
	BORDER-BOTTOM-COLOR: #660033; BORDER-TOP-COLOR: #660033; BACKGROUND: #660033; COLOR: #ffffff; BORDER-RIGHT-COLOR: #660033; BORDER-LEFT-COLOR: #660033
}
A.unselectedminitab:link {
	COLOR: white
}
A.unselectedminitab:visited {
	COLOR: white
}
A.selectedminitab:link {
	COLOR: black
}
A.selectedminitab:visited {
	COLOR: black
}
.linkerror {
	BACKGROUND-COLOR: #fcc
}
A.labelOperationLink:link {
	TEXT-DECORATION: underline
}
A.labelOperationLink:active {
	TEXT-DECORATION: underline
}
A.labelOperationLink:visited {
	TEXT-DECORATION: underline
}
A.labelOperationLink:hover {
	TEXT-DECORATION: underline
}
A.newLabel:link {
	BACKGROUND-COLOR: #ddffdd
}
A.newLabel:active {
	BACKGROUND-COLOR: #ddffdd
}
A.newLabel:visited {
	BACKGROUND-COLOR: #ddffdd
}
A.newLabel:hover {
	BACKGROUND-COLOR: #ddffdd
}
UL.square {
	LIST-STYLE-TYPE: square
}
.inline-control-link {
	PADDING-BOTTOM: 2px; TEXT-TRANSFORM: uppercase; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND: #ffc; COLOR: #666; FONT-SIZE: 9px; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.inline-control-link A:link {
	TEXT-DECORATION: none
}
.inline-control-link A:active {
	TEXT-DECORATION: none
}
.inline-control-link A:visited {
	TEXT-DECORATION: none
}
.inline-control-link A:hover {
	TEXT-DECORATION: none
}
.inline-control-link {
	PADDING-BOTTOM: 2px; TEXT-TRANSFORM: uppercase; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND: #ffc; COLOR: #666; FONT-SIZE: 9px; CURSOR: pointer; TEXT-DECORATION: none; PADDING-TOP: 2px
}
DIV.auto_complete {
	WIDTH: 350px; BACKGROUND: #fff
}
DIV.auto_complete UL {
	BORDER-BOTTOM: #888 1px solid; BORDER-LEFT: #888 1px solid; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; BORDER-TOP: #888 1px solid; BORDER-RIGHT: #888 1px solid; PADDING-TOP: 0px
}
DIV.auto_complete UL LI {
	PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px
}
DIV.auto_complete UL LI.selected {
	BACKGROUND-COLOR: #ffb
}
DIV.auto_complete UL STRONG.highlight {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #800; PADDING-TOP: 0px
}
.toogleFormDiv {
	BORDER-BOTTOM: #a7a6aa 1px solid; BORDER-LEFT: #a7a6aa 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: white; MARGIN-TOP: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #a7a6aa 1px solid; BORDER-RIGHT: #a7a6aa 1px solid; PADDING-TOP: 5px
}
.toogleInfoDiv {
	BORDER-BOTTOM: #a7a6aa 1px solid; BORDER-LEFT: #a7a6aa 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: white; MARGIN-TOP: 10px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: none; BORDER-TOP: #a7a6aa 1px solid; BORDER-RIGHT: #a7a6aa 1px solid; PADDING-TOP: 5px
}
.inputSection {
	MARGIN-BOTTOM: 20px
}
#editBox {
	BORDER-BOTTOM: lightgray 1px solid; BORDER-LEFT: lightgray 1px solid; BACKGROUND-COLOR: #f0f0f0; BORDER-TOP: lightgray 1px solid; BORDER-RIGHT: lightgray 1px solid
}
