HTML {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SPAN {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
APPLET {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
OBJECT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
IFRAME {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
A {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
ABBR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
ACRONYM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
ADDRESS {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
BIG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
CITE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
CODE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DEL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DFN {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
EM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
FONT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
INS {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
KBD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
Q {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
S {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SAMP {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SMALL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
STRIKE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
STRONG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SUB {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SUP {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
VAR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LABEL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LEGEND {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
CAPTION {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TBODY {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TFOOT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
THEAD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
HTML {
	OVERFLOW-Y: scroll; FONT-SIZE: 62.5%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%
}
* {
	BOX-SIZING: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box
}
*:before {
	BOX-SIZING: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box
}
*:after {
	BOX-SIZING: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box
}
BODY {
	BACKGROUND: #fff
}
article {
	DISPLAY: block
}
aside {
	DISPLAY: block
}
details {
	DISPLAY: block
}
figcaption {
	DISPLAY: block
}
figure {
	DISPLAY: block
}
footer {
	DISPLAY: block
}
header {
	DISPLAY: block
}
hgroup {
	DISPLAY: block
}
main {
	DISPLAY: block
}
nav {
	DISPLAY: block
}
section {
	DISPLAY: block
}
OL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; -MS-INTERPOLATION-MODE: bicubic; VERTICAL-ALIGN: middle; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: separate
}
CAPTION {
	TEXT-ALIGN: left; FONT-WEIGHT: normal
}
TH {
	TEXT-ALIGN: left; FONT-WEIGHT: normal
}
TD {
	TEXT-ALIGN: left; FONT-WEIGHT: normal
}
BLOCKQUOTE:before {
	CONTENT: ""
}
BLOCKQUOTE:after {
	CONTENT: ""
}
Q:before {
	CONTENT: ""
}
Q:after {
	CONTENT: ""
}
BLOCKQUOTE {
	QUOTES: "" ""
}
Q {
	QUOTES: "" ""
}
A:focus {
	OUTLINE-STYLE: dotted; OUTLINE-COLOR: invert; OUTLINE-WIDTH: thin
}
A:hover {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px
}
A:active {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px
}
A IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
BODY {
	LINE-HEIGHT: 21px; FONT-FAMILY: "Open Sans", sans-serif; BACKGROUND: url(images/bg-pattern.png) #e9e9e9; COLOR: #2f2f2f; FONT-SIZE: 14px; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased
}
.wrapper {
	WIDTH: 100%
}
#masthead {
	PADDING-BOTTOM: 30px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; PADDING-TOP: 30px
}
#headimg #logo-image {
	WIDTH: 100%; OVERFLOW: hidden
}
#headimg #logo-image IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; MAX-WIDTH: 100%; HEIGHT: auto; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
#headimg #logo-text {
	MARGIN: 0px
}
#headimg #logo-text .site-name {
	LINE-HEIGHT: 34px; DISPLAY: block; FONT-FAMILY: "Nixie One", cursive; FONT-SIZE: 28px
}
#headimg #logo-text .site-description {
	DISPLAY: block
}
#site-navigation {
	BORDER-BOTTOM: #c8c8c8 1px solid; BORDER-LEFT: #c8c8c8 1px solid; BACKGROUND: #fff; BORDER-TOP: #c8c8c8 1px solid; BORDER-RIGHT: #c8c8c8 1px solid; -webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.15); -moz-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.15); box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.15)
}
#main {
	MARGIN: 20px 0px
}
#sidebar {
	MARGIN: 20px 0px
}
#main {
	BORDER-BOTTOM: #c8c8c8 1px solid; BORDER-LEFT: #c8c8c8 1px solid; PADDING-BOTTOM: 30px; PADDING-LEFT: 29px; PADDING-RIGHT: 29px; BACKGROUND: #fff; BORDER-TOP: #c8c8c8 1px solid; BORDER-RIGHT: #c8c8c8 1px solid; PADDING-TOP: 30px; -webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.15); -moz-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.15); box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.15)
}
.containter_footer {
	MARGIN-BOTTOM: 20px
}
#colophon {
	BORDER-BOTTOM: #c8c8c8 1px solid; BORDER-LEFT: #c8c8c8 1px solid; PADDING-BOTTOM: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #fff; FONT-SIZE: 13px; BORDER-TOP: #c8c8c8 1px solid; BORDER-RIGHT: #c8c8c8 1px solid; PADDING-TOP: 20px; -webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.15); -moz-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.15); box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.15)
}
.copyright {
	WIDTH: 580px; FLOAT: left
}
.copyright_inside {
	PADDING-LEFT: 30px
}
.credit {
	WIDTH: 340px; FLOAT: right
}
.credit_inside {
	TEXT-ALIGN: right; PADDING-RIGHT: 30px
}
P {
	LINE-HEIGHT: 21px; MARGIN: 0px 0px 21px
}
P IMG {
	MARGIN: 0px
}
H1 {
	FONT-FAMILY: "Nixie One", cursive; COLOR: #2f2f2f; CLEAR: both; FONT-WEIGHT: normal
}
H2 {
	FONT-FAMILY: "Nixie One", cursive; COLOR: #2f2f2f; CLEAR: both; FONT-WEIGHT: normal
}
H3 {
	FONT-FAMILY: "Nixie One", cursive; COLOR: #2f2f2f; CLEAR: both; FONT-WEIGHT: normal
}
H4 {
	FONT-FAMILY: "Nixie One", cursive; COLOR: #2f2f2f; CLEAR: both; FONT-WEIGHT: normal
}
H5 {
	FONT-FAMILY: "Nixie One", cursive; COLOR: #2f2f2f; CLEAR: both; FONT-WEIGHT: normal
}
H6 {
	FONT-FAMILY: "Nixie One", cursive; COLOR: #2f2f2f; CLEAR: both; FONT-WEIGHT: normal
}
H1 A {
	FONT-WEIGHT: inherit
}
H2 A {
	FONT-WEIGHT: inherit
}
H3 A {
	FONT-WEIGHT: inherit
}
H4 A {
	FONT-WEIGHT: inherit
}
H5 A {
	FONT-WEIGHT: inherit
}
H6 A {
	FONT-WEIGHT: inherit
}
H1 {
	LINE-HEIGHT: 36px; MARGIN-BOTTOM: 14px; FONT-SIZE: 30px
}
H2 {
	LINE-HEIGHT: 34px; MARGIN-BOTTOM: 20px; FONT-SIZE: 28px
}
H3 {
	LINE-HEIGHT: 24px; MARGIN-BOTTOM: 20px; FONT-SIZE: 18px
}
H4 {
	LINE-HEIGHT: 22px; MARGIN-BOTTOM: 22px; FONT-SIZE: 16px
}
H5 {
	LINE-HEIGHT: 20px; MARGIN-BOTTOM: 20px; FONT-SIZE: 14px
}
H6 {
	LINE-HEIGHT: 19px; MARGIN-BOTTOM: 25px; FONT-SIZE: 12px
}
STRONG {
	FONT-WEIGHT: bold
}
CITE {
	FONT-STYLE: italic
}
EM {
	FONT-STYLE: italic
}
I {
	FONT-STYLE: italic
}
SMALL {
	FONT-SIZE: 80%
}
PRE {
	BORDER-BOTTOM: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; PADDING-BOTTOM: 15px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px; MARGIN-BOTTOM: 20px; BACKGROUND: #f5f5f5; OVERFLOW: auto; BORDER-TOP: #e7e7e7 1px solid; BORDER-RIGHT: #e7e7e7 1px solid; PADDING-TOP: 15px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px
}
CODE {
	COLOR: #a0a0a0
}
KBD {
	COLOR: #a0a0a0
}
ABBR {
	BORDER-BOTTOM: #e7e7e7 1px solid; CURSOR: help
}
ACRONYM {
	BORDER-BOTTOM: #e7e7e7 1px solid; CURSOR: help
}
DFN {
	BORDER-BOTTOM: #e7e7e7 1px solid; CURSOR: help
}
ADDRESS {
	MARGIN: 0px 0px 20px; DISPLAY: block
}
INS {
	BACKGROUND: #7ab80e; COLOR: #f5f5f5; TEXT-DECORATION: none
}
SUP {
	POSITION: relative; LINE-HEIGHT: 1; HEIGHT: 0px; FONT-SIZE: 10px; VERTICAL-ALIGN: baseline
}
SUB {
	POSITION: relative; LINE-HEIGHT: 1; HEIGHT: 0px; FONT-SIZE: 10px; VERTICAL-ALIGN: baseline
}
SUP {
	BOTTOM: 1ex
}
SUB {
	TOP: 0.5ex
}
BLOCKQUOTE {
	BORDER-LEFT: #7ab80e 5px solid; PADDING-BOTTOM: 5px; LINE-HEIGHT: 22px; MARGIN: 20px 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; FONT-SIZE: 14px; PADDING-TOP: 5px
}
BLOCKQUOTE EM {
	FONT-STYLE: normal
}
BLOCKQUOTE I {
	FONT-STYLE: normal
}
BLOCKQUOTE CITE {
	FONT-STYLE: normal
}
BLOCKQUOTE CITE {
	TEXT-ALIGN: right; TEXT-TRANSFORM: uppercase; DISPLAY: block; LETTER-SPACING: 1px; COLOR: #555; FONT-SIZE: 10px; FONT-WEIGHT: bold
}
BLOCKQUOTE CITE A {
	MARGIN: 10px 0px 0px; DISPLAY: block
}
A {
	COLOR: #7ab80e; TEXT-DECORATION: none
}
A:visited {
	COLOR: #7ab80e; TEXT-DECORATION: none
}
A:hover {
	COLOR: #6ea50a
}
A:focus {
	COLOR: #6ea50a
}
A IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
A:focus {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium
}
A:hover {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium
}
A:active {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium
}
P A {
	LINE-HEIGHT: inherit
}
P A:visited {
	LINE-HEIGHT: inherit
}
UL {
	MARGIN: 0px 0px 18px 30px
}
OL {
	MARGIN: 0px 0px 18px 30px
}
UL {
	LIST-STYLE-TYPE: square
}
UL UL {
	LIST-STYLE-TYPE: circle
}
UL UL UL {
	LIST-STYLE-TYPE: disc
}
OL {
	LIST-STYLE-TYPE: decimal
}
OL OL {
	LIST-STYLE-TYPE: upper-alpha
}
OL OL OL {
	LIST-STYLE-TYPE: lower-roman
}
OL OL OL OL {
	LIST-STYLE-TYPE: lower-alpha
}
UL UL {
	MARGIN: 4px 0px 5px 30px
}
UL OL {
	MARGIN: 4px 0px 5px 30px
}
OL OL {
	MARGIN: 4px 0px 5px 30px
}
OL UL {
	MARGIN: 4px 0px 5px 30px
}
UL UL LI {
	MARGIN-BOTTOM: 6px; FONT-SIZE: 98%
}
UL OL LI {
	MARGIN-BOTTOM: 6px; FONT-SIZE: 98%
}
OL OL LI {
	MARGIN-BOTTOM: 6px; FONT-SIZE: 98%
}
OL UL LI {
	MARGIN-BOTTOM: 6px; FONT-SIZE: 98%
}
LI {
	
}
LI P {
	
}
DL {
	MARGIN-BOTTOM: 18px
}
DT {
	FONT-WEIGHT: bold
}
DD {
	MARGIN-BOTTOM: 18px
}
TABLE {
	MARGIN: 0px auto 20px; WIDTH: 95%
}
CAPTION {
	MARGIN: 0px 0px 5px; FONT-WEIGHT: bold
}
THEAD {
	TEXT-ALIGN: left; BACKGROUND: #7ab80e; COLOR: #fff
}
TBODY {
	BACKGROUND: #fff
}
TD {
	BACKGROUND: #fff
}
TD {
	BORDER-BOTTOM: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #e7e7e7 1px solid; BORDER-RIGHT: #e7e7e7 1px solid; PADDING-TOP: 5px
}
TH {
	BORDER-BOTTOM: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #e7e7e7 1px solid; BORDER-RIGHT: #e7e7e7 1px solid; PADDING-TOP: 5px
}
FORM {
	MARGIN-BOTTOM: 20px
}
FIELDSET {
	MARGIN-BOTTOM: 20px
}
INPUT[type='text'] {
	BORDER-BOTTOM: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; PADDING-BOTTOM: 6px; MARGIN: 10px 0px 20px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 4px; OUTLINE-WIDTH: medium; WIDTH: 95%; PADDING-RIGHT: 4px; DISPLAY: block; FONT-FAMILY: "Open Sans", sans-serif; MAX-WIDTH: 100%; BACKGROUND: #fff; COLOR: #2f2f2f; FONT-SIZE: 14px; BORDER-TOP: #e7e7e7 1px solid; BORDER-RIGHT: #e7e7e7 1px solid; PADDING-TOP: 6px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px
}
INPUT[type='password'] {
	BORDER-BOTTOM: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; PADDING-BOTTOM: 6px; MARGIN: 10px 0px 20px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 4px; OUTLINE-WIDTH: medium; WIDTH: 95%; PADDING-RIGHT: 4px; DISPLAY: block; FONT-FAMILY: "Open Sans", sans-serif; MAX-WIDTH: 100%; BACKGROUND: #fff; COLOR: #2f2f2f; FONT-SIZE: 14px; BORDER-TOP: #e7e7e7 1px solid; BORDER-RIGHT: #e7e7e7 1px solid; PADDING-TOP: 6px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px
}
INPUT[type='email'] {
	BORDER-BOTTOM: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; PADDING-BOTTOM: 6px; MARGIN: 10px 0px 20px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 4px; OUTLINE-WIDTH: medium; WIDTH: 95%; PADDING-RIGHT: 4px; DISPLAY: block; FONT-FAMILY: "Open Sans", sans-serif; MAX-WIDTH: 100%; BACKGROUND: #fff; COLOR: #2f2f2f; FONT-SIZE: 14px; BORDER-TOP: #e7e7e7 1px solid; BORDER-RIGHT: #e7e7e7 1px solid; PADDING-TOP: 6px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px
}
TEXTAREA {
	BORDER-BOTTOM: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; PADDING-BOTTOM: 6px; MARGIN: 10px 0px 20px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 4px; OUTLINE-WIDTH: medium; WIDTH: 95%; PADDING-RIGHT: 4px; DISPLAY: block; FONT-FAMILY: "Open Sans", sans-serif; MAX-WIDTH: 100%; BACKGROUND: #fff; COLOR: #2f2f2f; FONT-SIZE: 14px; BORDER-TOP: #e7e7e7 1px solid; BORDER-RIGHT: #e7e7e7 1px solid; PADDING-TOP: 6px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px
}
SELECT {
	BORDER-BOTTOM: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; PADDING-BOTTOM: 6px; MARGIN: 10px 0px 20px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 4px; OUTLINE-WIDTH: medium; WIDTH: 95%; PADDING-RIGHT: 4px; DISPLAY: block; FONT-FAMILY: "Open Sans", sans-serif; MAX-WIDTH: 100%; BACKGROUND: #fff; COLOR: #2f2f2f; FONT-SIZE: 14px; BORDER-TOP: #e7e7e7 1px solid; BORDER-RIGHT: #e7e7e7 1px solid; PADDING-TOP: 6px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px
}
SELECT {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT[type='text']:focus {
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .2); -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .2); box-shadow: 0 0 3px rgba(0, 0, 0, .2)
}
INPUT[type='password']:focus {
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .2); -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .2); box-shadow: 0 0 3px rgba(0, 0, 0, .2)
}
INPUT[type='email']:focus {
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .2); -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .2); box-shadow: 0 0 3px rgba(0, 0, 0, .2)
}
TEXTAREA:focus {
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .2); -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .2); box-shadow: 0 0 3px rgba(0, 0, 0, .2)
}
TEXTAREA {
	MIN-HEIGHT: 60px
}
LABEL {
	DISPLAY: block
}
LEGEND {
	DISPLAY: block
}
INPUT[type='checkbox'] {
	DISPLAY: inline
}
BUTTON {
	BORDER-BOTTOM: #7ab80e 1px solid; BORDER-LEFT: #7ab80e 1px solid; PADDING-BOTTOM: 6px; BACKGROUND-COLOR: #7ab80e; MARGIN: 0px 0px 20px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 12px; OUTLINE-WIDTH: medium; PADDING-RIGHT: 12px; FONT-FAMILY: "Open Sans", sans-serif; COLOR: #fff; FONT-SIZE: 14px; BORDER-TOP: #7ab80e 1px solid; CURSOR: pointer; BORDER-RIGHT: #7ab80e 1px solid; TEXT-DECORATION: none; PADDING-TOP: 6px; -webkit-border-radius: 2px; border-radius: 2px; moz-border-radius: 2px; -ms-border-radius: 2px
}
INPUT[type='submit'] {
	BORDER-BOTTOM: #7ab80e 1px solid; BORDER-LEFT: #7ab80e 1px solid; PADDING-BOTTOM: 6px; BACKGROUND-COLOR: #7ab80e; MARGIN: 0px 0px 20px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 12px; OUTLINE-WIDTH: medium; PADDING-RIGHT: 12px; FONT-FAMILY: "Open Sans", sans-serif; COLOR: #fff; FONT-SIZE: 14px; BORDER-TOP: #7ab80e 1px solid; CURSOR: pointer; BORDER-RIGHT: #7ab80e 1px solid; TEXT-DECORATION: none; PADDING-TOP: 6px; -webkit-border-radius: 2px; border-radius: 2px; moz-border-radius: 2px; -ms-border-radius: 2px
}
INPUT[type='reset'] {
	BORDER-BOTTOM: #7ab80e 1px solid; BORDER-LEFT: #7ab80e 1px solid; PADDING-BOTTOM: 6px; BACKGROUND-COLOR: #7ab80e; MARGIN: 0px 0px 20px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 12px; OUTLINE-WIDTH: medium; PADDING-RIGHT: 12px; FONT-FAMILY: "Open Sans", sans-serif; COLOR: #fff; FONT-SIZE: 14px; BORDER-TOP: #7ab80e 1px solid; CURSOR: pointer; BORDER-RIGHT: #7ab80e 1px solid; TEXT-DECORATION: none; PADDING-TOP: 6px; -webkit-border-radius: 2px; border-radius: 2px; moz-border-radius: 2px; -ms-border-radius: 2px
}
INPUT[type='button'] {
	BORDER-BOTTOM: #7ab80e 1px solid; BORDER-LEFT: #7ab80e 1px solid; PADDING-BOTTOM: 6px; BACKGROUND-COLOR: #7ab80e; MARGIN: 0px 0px 20px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 12px; OUTLINE-WIDTH: medium; PADDING-RIGHT: 12px; FONT-FAMILY: "Open Sans", sans-serif; COLOR: #fff; FONT-SIZE: 14px; BORDER-TOP: #7ab80e 1px solid; CURSOR: pointer; BORDER-RIGHT: #7ab80e 1px solid; TEXT-DECORATION: none; PADDING-TOP: 6px; -webkit-border-radius: 2px; border-radius: 2px; moz-border-radius: 2px; -ms-border-radius: 2px
}
BUTTON:hover {
	BORDER-BOTTOM: #6ea50a 1px solid; BORDER-LEFT: #6ea50a 1px solid; BACKGROUND-COLOR: #6ea50a; COLOR: #fff; BORDER-TOP: #6ea50a 1px solid; BORDER-RIGHT: #6ea50a 1px solid
}
INPUT[type='submit']:hover {
	BORDER-BOTTOM: #6ea50a 1px solid; BORDER-LEFT: #6ea50a 1px solid; BACKGROUND-COLOR: #6ea50a; COLOR: #fff; BORDER-TOP: #6ea50a 1px solid; BORDER-RIGHT: #6ea50a 1px solid
}
INPUT[type='reset']:hover {
	BORDER-BOTTOM: #6ea50a 1px solid; BORDER-LEFT: #6ea50a 1px solid; BACKGROUND-COLOR: #6ea50a; COLOR: #fff; BORDER-TOP: #6ea50a 1px solid; BORDER-RIGHT: #6ea50a 1px solid
}
INPUT[type='button']:hover {
	BORDER-BOTTOM: #6ea50a 1px solid; BORDER-LEFT: #6ea50a 1px solid; BACKGROUND-COLOR: #6ea50a; COLOR: #fff; BORDER-TOP: #6ea50a 1px solid; BORDER-RIGHT: #6ea50a 1px solid
}
BUTTON:active {
	BORDER-BOTTOM: #6ea50a 1px solid; BORDER-LEFT: #6ea50a 1px solid; BACKGROUND-COLOR: #6ea50a; COLOR: #fff; BORDER-TOP: #6ea50a 1px solid; BORDER-RIGHT: #6ea50a 1px solid
}
INPUT[type='submit']:active {
	BORDER-BOTTOM: #6ea50a 1px solid; BORDER-LEFT: #6ea50a 1px solid; BACKGROUND-COLOR: #6ea50a; COLOR: #fff; BORDER-TOP: #6ea50a 1px solid; BORDER-RIGHT: #6ea50a 1px solid
}
INPUT[type='reset']:active {
	BORDER-BOTTOM: #6ea50a 1px solid; BORDER-LEFT: #6ea50a 1px solid; BACKGROUND-COLOR: #6ea50a; COLOR: #fff; BORDER-TOP: #6ea50a 1px solid; BORDER-RIGHT: #6ea50a 1px solid
}
INPUT[type='button']:active {
	BORDER-BOTTOM: #6ea50a 1px solid; BORDER-LEFT: #6ea50a 1px solid; BACKGROUND-COLOR: #6ea50a; COLOR: #fff; BORDER-TOP: #6ea50a 1px solid; BORDER-RIGHT: #6ea50a 1px solid
}
.searchform {
	BORDER-BOTTOM: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; PADDING-BOTTOM: 1px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 218px; PADDING-RIGHT: 0px; BACKGROUND: #fff; OVERFLOW: auto; BORDER-TOP: #e7e7e7 1px solid; BORDER-RIGHT: #e7e7e7 1px solid; PADDING-TOP: 1px
}
.searchform .assistive-text {
	DISPLAY: none
}
.searchform INPUT[type='text'] {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 6px; MARGIN: 0px; PADDING-LEFT: 11px; WIDTH: 172px; PADDING-RIGHT: 0px; FLOAT: left; VERTICAL-ALIGN: middle; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 6px
}
.searchform INPUT[type='submit'] {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 0; TEXT-TRANSFORM: capitalize; TEXT-INDENT: -9999px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 33px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(images/zoom.jpg) no-repeat; HEIGHT: 33px; FONT-SIZE: 0px; VERTICAL-ALIGN: middle; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
P IMG {
	
}
.entry-content IMG {
	MAX-WIDTH: 100% !important; HEIGHT: auto !important
}
.author-content IMG {
	MAX-WIDTH: 100% !important; HEIGHT: auto !important
}
.comment-content IMG {
	MAX-WIDTH: 100% !important; HEIGHT: auto !important
}
.widget IMG {
	MAX-WIDTH: 100% !important; HEIGHT: auto !important
}
.entry-content IMG.wp-smiley {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
IMG[class*='align'] {
	HEIGHT: auto
}
IMG[class*='wp-image-'] {
	HEIGHT: auto
}
IMG[class*='attachment-'] {
	HEIGHT: auto
}
IMG.size-auto {
	MAX-WIDTH: 100%; HEIGHT: auto
}
IMG.size-full {
	MAX-WIDTH: 100%; HEIGHT: auto
}
IMG.size-large {
	MAX-WIDTH: 100%; HEIGHT: auto
}
IMG.size-medium {
	MAX-WIDTH: 100%; HEIGHT: auto
}
IMG.attachment-auto {
	MAX-WIDTH: 100%; HEIGHT: auto
}
IMG.attachment-full {
	MAX-WIDTH: 100%; HEIGHT: auto
}
IMG.attachment-large {
	MAX-WIDTH: 100%; HEIGHT: auto
}
IMG.attachment-medium {
	MAX-WIDTH: 100%; HEIGHT: auto
}
IMG.alignleft {
	MARGIN: 20px 20px 20px 0px; DISPLAY: inline; FLOAT: left
}
IMG.alignright {
	MARGIN: 20px 0px 20px 20px; DISPLAY: inline; FLOAT: right
}
IMG.aligncenter {
	MARGIN: 20px auto; DISPLAY: block; CLEAR: both
}
IMG.centered {
	MARGIN: 20px auto; DISPLAY: block; CLEAR: both
}
IMG.alignnone {
	MARGIN: 20px 0px; DISPLAY: inline
}
.wp-caption {
	MAX-WIDTH: 100%; MARGIN-BOTTOM: 20px; OVERFLOW: hidden
}
.wp-caption .wp-caption-text {
	FONT-STYLE: italic; MARGIN: 12px 12px 0px 0px; FONT-SIZE: 12px
}
.gallery {
	MARGIN-BOTTOM: 20px
}
.gallery-item {
	POSITION: relative; MARGIN: 0px 4px 4px 0px; FLOAT: left; OVERFLOW: hidden
}
.gallery-columns-1 .gallery-item {
	MAX-WIDTH: 100%
}
.gallery-columns-2 .gallery-item {
	MAX-WIDTH: 48%
}
.gallery-columns-3 .gallery-item {
	MAX-WIDTH: 32%
}
.gallery-columns-4 .gallery-item {
	MAX-WIDTH: 23%
}
.gallery-columns-5 .gallery-item {
	MAX-WIDTH: 19%
}
.gallery-columns-6 .gallery-item {
	MAX-WIDTH: 15%
}
.gallery-columns-7 .gallery-item {
	MAX-WIDTH: 13%
}
.gallery-columns-8 .gallery-item {
	MAX-WIDTH: 11%
}
.gallery-columns-9 .gallery-item {
	MAX-WIDTH: 9%
}
.gallery-caption {
	BOX-SIZING: border-box; POSITION: absolute; TEXT-ALIGN: left; PADDING-BOTTOM: 6px; LINE-HEIGHT: 1.5; MARGIN: 0px; PADDING-LEFT: 8px; WIDTH: 100%; BOTTOM: 0px; PADDING-RIGHT: 8px; COLOR: #fff; MAX-HEIGHT: 50%; FONT-SIZE: 12px; PADDING-TOP: 6px; LEFT: 0px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; opacity: 0
}
.gallery-caption:before {
	POSITION: absolute; MIN-HEIGHT: 49px; WIDTH: 100%; HEIGHT: 100%; CONTENT: ""; TOP: 0px; LEFT: 0px
}
.gallery-item:hover .gallery-caption {
	opacity: 1
}
.gallery-columns-7 .gallery-caption {
	DISPLAY: none
}
.gallery-columns-8 .gallery-caption {
	DISPLAY: none
}
.gallery-columns-9 .gallery-caption {
	DISPLAY: none
}
.alignleft {
	DISPLAY: inline; FLOAT: left; MARGIN-RIGHT: 20px
}
.alignright {
	DISPLAY: inline; FLOAT: right; MARGIN-LEFT: 20px
}
.aligncenter {
	DISPLAY: block; MARGIN-LEFT: auto; CLEAR: both; MARGIN-RIGHT: auto
}
.sticky {
	
}
#sidebar {
	BORDER-BOTTOM: #c8c8c8 1px solid; BORDER-LEFT: #c8c8c8 1px solid; PADDING-BOTTOM: 30px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #fff; FONT-SIZE: 13px; BORDER-TOP: #c8c8c8 1px solid; BORDER-RIGHT: #c8c8c8 1px solid; PADDING-TOP: 30px; -webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.15); -moz-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.15); box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.15)
}
#sidebar A {
	COLOR: #2f2f2f; TEXT-DECORATION: none
}
#sidebar A:visited {
	COLOR: #2f2f2f; TEXT-DECORATION: none
}
#sidebar A:hover {
	COLOR: #6ea50a
}
#sidebar A:focus {
	COLOR: #6ea50a
}
.widget {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 30px; PADDING-LEFT: 29px; PADDING-RIGHT: 29px; PADDING-TOP: 0px
}
.widget .widget-wrap {
	WORD-WRAP: break-word; OVERFLOW: hidden
}
.widget SELECT {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 215px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.widget UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.widget OL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.widget UL LI {
	BORDER-BOTTOM: #e7e7e7 1px dotted; PADDING-BOTTOM: 6px; MARGIN: -2px 0px 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.widget OL LI {
	BORDER-BOTTOM: #e7e7e7 1px dotted; PADDING-BOTTOM: 6px; MARGIN: -2px 0px 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.widget UL UL LI {
	BORDER-BOTTOM: medium none; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px 10px
}
.widget OL OL LI {
	BORDER-BOTTOM: medium none; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px 10px
}
.widget .widget-title {
	BORDER-BOTTOM: #2f2f2f 1px solid; PADDING-BOTTOM: 10px; LINE-HEIGHT: 20px; MARGIN: 0px 0px 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 18px; PADDING-TOP: 0px
}
.widget .widget_calendar .widget-title {
	DISPLAY: none
}
.type-post {
	MARGIN: 0px 0px 80px
}
.type-page {
	MARGIN: 0px 0px 80px
}
.type-attachment {
	MARGIN: 0px 0px 80px
}
.entry-title {
	BORDER-BOTTOM: #2f2f2f 1px solid; PADDING-BOTTOM: 10px; LINE-HEIGHT: 30px; TEXT-TRANSFORM: uppercase; WORD-WRAP: break-word; MARGIN-BOTTOM: 8px; FONT-SIZE: 28px; FONT-WEIGHT: 400
}
.entry-title-single {
	
}
.entry-title-page {
	MARGIN: 0px 0px 25px
}
.entry-title A {
	COLOR: #2f2f2f
}
.entry-title A:visited {
	COLOR: #2f2f2f
}
.entry-title A:focus {
	COLOR: #6ea50a
}
.entry-title A:hover {
	COLOR: #6ea50a
}
.entry-content {
	MARGIN: 0px 0px 20px; WORD-WRAP: break-word
}
.entry-meta-group {
	MARGIN: 0px 0px 25px
}
.entry-meta {
	COLOR: #999; FONT-SIZE: 13px
}
.entry-meta-page {
	MARGIN: 0px 0px 25px
}
.entry-meta-bottom {
	MARGIN: 0px 0px 25px; COLOR: #999; FONT-SIZE: 13px
}
.entry-meta A {
	COLOR: #999
}
.entry-meta A:visited {
	COLOR: #999
}
.entry-meta A:hover {
	COLOR: #6ea50a
}
.entry-meta A:focus {
	COLOR: #6ea50a
}
.entry-meta-sep {
	MARGIN: 0px 5px; COLOR: #999
}
.entry-meta-bottom {
	
}
.entry-meta-featured {
	COLOR: #7ab80e
}
.entry-date {
	TEXT-ALIGN: center; PADDING-BOTTOM: 8px; BACKGROUND-COLOR: #7ab80e; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #fff; PADDING-TOP: 8px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px
}
.entry-date-day {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 32px; DISPLAY: block; FONT-SIZE: 35px
}
.entry-date-month-year {
	LINE-HEIGHT: 12px; DISPLAY: block; FONT-SIZE: 12px
}
.entry-date A {
	COLOR: #fff
}
.entry-date A:visited {
	COLOR: #fff
}
.cat-links A {
	COLOR: #7ab80e
}
.cat-links A:visited {
	COLOR: #7ab80e
}
.tag-links A {
	COLOR: #7ab80e
}
.tag-links A:visited {
	COLOR: #7ab80e
}
.cat-links A:hover {
	COLOR: #6ea50a
}
.cat-links A:focus {
	COLOR: #6ea50a
}
.tag-links A:hover {
	COLOR: #6ea50a
}
.tag-links A:focus {
	COLOR: #6ea50a
}
#loop_meta_wrapper {
	MARGIN: 20px 0px 0px; WIDTH: 100%
}
#loop-meta {
	BORDER-BOTTOM: #c8c8c8 1px solid; BORDER-LEFT: #c8c8c8 1px solid; PADDING-BOTTOM: 15px; BACKGROUND: #fff; BORDER-TOP: #c8c8c8 1px solid; BORDER-RIGHT: #c8c8c8 1px solid; PADDING-TOP: 15px; -webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.15); -moz-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.15); box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.15)
}
.loop-meta-title {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; MARGIN: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px; FONT-SIZE: 18px; PADDING-TOP: 0px
}
.loop-meta-description {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 16px; MARGIN: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px; COLOR: #777; FONT-SIZE: 11px; PADDING-TOP: 0px
}
.breadcrumbs {
	MARGIN-BOTTOM: 30px
}
.entry-featured-image {
	MARGIN: 0px 25px 25px 0px; WIDTH: 200px; DISPLAY: block; MAX-WIDTH: 200px; FLOAT: left
}
.entry-image {
	MAX-WIDTH: 100%; OVERFLOW: hidden
}
SPAN.more-link-wrap {
	MARGIN: 20px 0px 0px; DISPLAY: block
}
A.more-link {
	DISPLAY: block
}
A.more-link:visited {
	DISPLAY: block
}
#author-info {
	BORDER-BOTTOM: #eaeaea 1px solid; PADDING-BOTTOM: 70px; BACKGROUND-COLOR: #fff; MARGIN: 0px 0px 70px; FONT-SIZE: 11px
}
#author-avatar-inside {
	TEXT-ALIGN: center
}
#author-description H3 {
	MARGIN: 0px 0px 8px
}
#author-description P {
	MARGIN: 0px 0px 4px
}
#loop-nav-numeric {
	MARGIN-BOTTOM: 20px; CLEAR: both
}
#loop-nav-next-prev {
	MARGIN-BOTTOM: 20px; CLEAR: both
}
#loop-nav-singlular-post {
	MARGIN-BOTTOM: 20px; CLEAR: both
}
#loop-nav-singular {
	MARGIN-BOTTOM: 20px; CLEAR: both
}
#loop-nav-singlular-attachment {
	MARGIN-BOTTOM: 20px; CLEAR: both
}
#comments-nav-below {
	MARGIN-BOTTOM: 20px; CLEAR: both
}
.page-link {
	MARGIN-BOTTOM: 20px; CLEAR: both
}
#loop-nav-numeric {
	MARGIN-BOTTOM: 50px
}
#loop-nav-next-prev {
	MARGIN-BOTTOM: 50px
}
#loop-nav-singlular-post {
	MARGIN-BOTTOM: 50px
}
#comments-nav-below {
	MARGIN-BOTTOM: 50px
}
#comments-nav-below {
	MARGIN-TOP: 30px
}
#loop-nav-numeric A {
	BORDER-BOTTOM: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; DISPLAY: inline-block; BORDER-TOP: #e7e7e7 1px solid; CURSOR: pointer; BORDER-RIGHT: #e7e7e7 1px solid; PADDING-TOP: 4px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px
}
#loop-nav-next-prev A {
	BORDER-BOTTOM: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; DISPLAY: inline-block; BORDER-TOP: #e7e7e7 1px solid; CURSOR: pointer; BORDER-RIGHT: #e7e7e7 1px solid; PADDING-TOP: 4px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px
}
#loop-nav-singlular-post A {
	BORDER-BOTTOM: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; DISPLAY: inline-block; BORDER-TOP: #e7e7e7 1px solid; CURSOR: pointer; BORDER-RIGHT: #e7e7e7 1px solid; PADDING-TOP: 4px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px
}
#loop-nav-singular A {
	BORDER-BOTTOM: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; DISPLAY: inline-block; BORDER-TOP: #e7e7e7 1px solid; CURSOR: pointer; BORDER-RIGHT: #e7e7e7 1px solid; PADDING-TOP: 4px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px
}
#comments-nav-below A {
	BORDER-BOTTOM: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; DISPLAY: inline-block; BORDER-TOP: #e7e7e7 1px solid; CURSOR: pointer; BORDER-RIGHT: #e7e7e7 1px solid; PADDING-TOP: 4px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px
}
.page-link A SPAN {
	BORDER-BOTTOM: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; DISPLAY: inline-block; BORDER-TOP: #e7e7e7 1px solid; CURSOR: pointer; BORDER-RIGHT: #e7e7e7 1px solid; PADDING-TOP: 4px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px
}
.page-link SPAN {
	BORDER-BOTTOM: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; DISPLAY: inline-block; BORDER-TOP: #e7e7e7 1px solid; CURSOR: pointer; BORDER-RIGHT: #e7e7e7 1px solid; PADDING-TOP: 4px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px
}
.nav-numeric SPAN {
	BORDER-BOTTOM: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; DISPLAY: inline-block; BORDER-TOP: #e7e7e7 1px solid; CURSOR: pointer; BORDER-RIGHT: #e7e7e7 1px solid; PADDING-TOP: 4px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px
}
#loop-nav-numeric A:hover {
	BACKGROUND-COLOR: #6ea50a; COLOR: #fff
}
#loop-nav-next-prev A:hover {
	BACKGROUND-COLOR: #6ea50a; COLOR: #fff
}
#loop-nav-singlular-post A:hover {
	BACKGROUND-COLOR: #6ea50a; COLOR: #fff
}
#loop-nav-singular A:hover {
	BACKGROUND-COLOR: #6ea50a; COLOR: #fff
}
#comments-nav-below A:hover {
	BACKGROUND-COLOR: #6ea50a; COLOR: #fff
}
.page-link A:hover {
	BACKGROUND-COLOR: #6ea50a; COLOR: #fff
}
.page-link A SPAN:hover {
	BACKGROUND-COLOR: #6ea50a; COLOR: #fff
}
#loop-nav-numeric .assistive-text {
	DISPLAY: none
}
#loop-nav-next-prev .assistive-text {
	DISPLAY: none
}
#loop-nav-singlular-post .assistive-text {
	DISPLAY: none
}
#loop-nav-singular .assistive-text {
	DISPLAY: none
}
#loop-nav-singlular-attachment .assistive-text {
	DISPLAY: none
}
#comments-nav-below .assistive-text {
	DISPLAY: none
}
.page-link .assistive-text {
	DISPLAY: none
}
#loop-nav-next-prev .loop-nav-next {
	TEXT-ALIGN: right
}
#loop-nav-singlular-post .loop-nav-next {
	TEXT-ALIGN: right
}
#loop-nav-singlular-attachment .loop-nav-next {
	TEXT-ALIGN: right
}
#comments-nav-below .loop-nav-next {
	TEXT-ALIGN: right
}
#loop-nav-singular .loop-nav-standard {
	TEXT-ALIGN: center; MARGIN-TOP: 40px; MARGIN-BOTTOM: 40px
}
.nav-numeric A {
	
}
.nav-numeric A:visited {
	
}
.nav-numeric SPAN {
	
}
.nav-numeric SPAN.current {
	BACKGROUND-COLOR: #6ea50a; COLOR: #fff
}
.page-link SPAN {
	BACKGROUND-COLOR: #6ea50a; COLOR: #fff
}
.page-link A SPAN {
	COLOR: #2f2f2f
}
#comments {
	MARGIN: 0px 0px 50px
}
.page #comments {
	BORDER-BOTTOM: medium none
}
.commentlist {
	LIST-STYLE-TYPE: none; MARGIN: 0px auto; LIST-STYLE-IMAGE: none
}
.commentlist .children {
	LIST-STYLE-TYPE: none; MARGIN: 15px auto 0px; LIST-STYLE-IMAGE: none
}
.commentlist LI.comment {
	BORDER-BOTTOM: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; PADDING-BOTTOM: 15px; MARGIN: 0px 0px 20px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BACKGROUND: #fff; OVERFLOW: hidden; BORDER-TOP: #e7e7e7 1px solid; BORDER-RIGHT: #e7e7e7 1px solid; PADDING-TOP: 15px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px
}
.commentlist LI.pingback {
	BORDER-BOTTOM: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; PADDING-BOTTOM: 15px; MARGIN: 0px 0px 20px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BACKGROUND: #fff; OVERFLOW: hidden; BORDER-TOP: #e7e7e7 1px solid; BORDER-RIGHT: #e7e7e7 1px solid; PADDING-TOP: 15px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px
}
.commentlist LI.odd {
	BACKGROUND: #f5f5f5
}
.commentlist LI.bypostauthor {
	BORDER-BOTTOM: #7ab80e 2px solid
}
.commentlist LI.pingback P {
	MARGIN: 0px
}
.commentlist .comment-author {
	POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 100px; PADDING-RIGHT: 0px; HEIGHT: 75px; PADDING-TOP: 0px
}
.commentlist .avatar {
	BORDER-BOTTOM: #eaeaea 1px solid; POSITION: absolute; BORDER-LEFT: #eaeaea 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #eaeaea 1px solid; TOP: 0px; BORDER-RIGHT: #eaeaea 1px solid; PADDING-TOP: 5px; LEFT: 0px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px
}
.commentlist .fn {
	MARGIN: 0px 0px 5px; DISPLAY: block
}
.commentlist .edit-link {
	MARGIN: 5px 0px 0px; DISPLAY: block
}
.commentlist .comment-awaiting-moderation {
	MARGIN: 5px 0px 0px; DISPLAY: block
}
.nopassword {
	TEXT-ALIGN: center; MARGIN-BOTTOM: 70px; COLOR: #aaa; FONT-SIZE: 16px
}
P.nocomments {
	TEXT-ALIGN: center; MARGIN-BOTTOM: 70px; COLOR: #aaa; FONT-SIZE: 16px
}
#respond {
	POSITION: relative; MARGIN: 0px 0px 50px; COLOR: #808080; OVERFLOW: hidden
}
.commentlist #respond {
	BORDER-BOTTOM: #eaeaea 1px solid; PADDING-BOTTOM: 25px; MARGIN: 15px 0px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; BORDER-TOP: #eaeaea 1px solid; PADDING-TOP: 25px
}
#respond P {
	MARGIN: 0px
}
#reply-title {
	MARGIN: 0px 0px 10px
}
#cancel-comment-reply-link {
	POSITION: absolute; LINE-HEIGHT: 2.2em; TEXT-TRANSFORM: uppercase; DISPLAY: block; LETTER-SPACING: 0.05em; COLOR: #74ab00; FONT-SIZE: 10px; TOP: 1.1em; RIGHT: 1.62em; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
#cancel-comment-reply-link:focus {
	COLOR: #588101
}
#cancel-comment-reply-link:active {
	COLOR: #588101
}
#cancel-comment-reply-link:hover {
	COLOR: #588101
}
#respond .comment-notes {
	MARGIN: 0px 0px 20px
}
#respond .logged-in-as {
	MARGIN: 0px 0px 20px
}
#respond #commentform {
	MARGIN: 0px
}
#respond .comment-form-author {
	POSITION: relative
}
#respond .comment-form-email {
	POSITION: relative
}
#respond .comment-form-url {
	POSITION: relative
}
#respond .comment-form-comment {
	POSITION: relative
}
#respond .comment-form-author LABEL {
	POSITION: absolute; LEFT: 82%
}
#respond .comment-form-email LABEL {
	POSITION: absolute; LEFT: 82%
}
#respond .comment-form-url LABEL {
	POSITION: absolute; LEFT: 82%
}
#respond .comment-form-comment LABEL {
	POSITION: absolute; LEFT: 82%
}
#respond .comment-form-comment LABEL {
	TEXT-INDENT: -9999px
}
#respond .required {
	COLOR: #bd3500
}
#respond .comment-form-author .required {
	POSITION: absolute; COLOR: #bd3500; TOP: 1%; LEFT: 115%
}
#respond .comment-form-email .required {
	POSITION: absolute; COLOR: #bd3500; TOP: 1%; LEFT: 115%
}
#respond INPUT[type=text] {
	MARGIN: 0px 0px 20px 1px; WIDTH: 75%; DISPLAY: block; HEIGHT: 24px
}
#respond TEXTAREA {
	MARGIN: 0px 0px 20px 1px; WIDTH: 95%; resize: vertical
}
#respond .logged-in-as A:hover {
	TEXT-DECORATION: underline
}
#respond #cancel-comment-reply-link:hover {
	TEXT-DECORATION: underline
}
.form-allowed-tags {
	DISPLAY: none
}
.menu {
	Z-INDEX: 9999; POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.menu UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.menu UL * {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.menu UL {
	LINE-HEIGHT: 1
}
.menu UL UL {
	POSITION: absolute; WIDTH: 10em; TOP: -999em
}
.menu UL UL LI {
	WIDTH: 100%
}
.menu UL LI:hover {
	VISIBILITY: inherit
}
.menu UL LI {
	POSITION: relative; WORD-WRAP: break-word; FLOAT: left
}
.menu UL LI LI {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.menu UL LI:hover UL {
	Z-INDEX: 200; TOP: 56px; LEFT: 0px
}
.menu UL LI.sfHover UL {
	Z-INDEX: 200; TOP: 56px; LEFT: 0px
}
.menu UL LI:hover LI UL {
	TOP: -999em
}
.menu UL LI.sfHover LI UL {
	TOP: -999em
}
.menu UL LI:hover LI UL LI {
	TOP: 0px; LEFT: 0px
}
.menu UL LI.sfHover LI UL LI {
	TOP: 0px; LEFT: 0px
}
.menu UL LI LI:hover UL {
	TOP: 0px
}
.menu UL LI LI.sfHover UL {
	TOP: 0px
}
.menu UL LI LI:hover LI UL {
	TOP: -999em
}
.menu UL LI LI.sfHover LI UL {
	TOP: -999em
}
.menu UL LI LI LI:hover UL {
	TOP: 0px
}
.menu UL LI LI LI.sfHover UL {
	TOP: 0px
}
.menu UL {
	
}
.menu UL.sub-menu {
	-webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.15); -moz-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.15); box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.15)
}
.menu UL LI {
	BACKGROUND: #fff; BORDER-RIGHT: #e7e7e7 1px solid
}
.menu UL.sub-menu LI {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: #fff; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.menu UL.children LI {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: #fff; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.menu UL A {
	POSITION: relative; PADDING-BOTTOM: 20px; TEXT-TRANSFORM: uppercase; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; DISPLAY: block; COLOR: #2f2f2f; TEXT-DECORATION: none; PADDING-TOP: 20px
}
.menu UL A:visited {
	POSITION: relative; PADDING-BOTTOM: 20px; TEXT-TRANSFORM: uppercase; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; DISPLAY: block; COLOR: #2f2f2f; TEXT-DECORATION: none; PADDING-TOP: 20px
}
.menu UL.sub-menu A {
	BORDER-BOTTOM: #e7e7e7 1px dotted; PADDING-BOTTOM: 20px; MARGIN: 0px 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 20px
}
.menu UL.sub-menu A:visited {
	BORDER-BOTTOM: #e7e7e7 1px dotted; PADDING-BOTTOM: 20px; MARGIN: 0px 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 20px
}
.menu UL.children A {
	BORDER-BOTTOM: #e7e7e7 1px dotted; PADDING-BOTTOM: 20px; MARGIN: 0px 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 20px
}
.menu UL.children A:visited {
	BORDER-BOTTOM: #e7e7e7 1px dotted; PADDING-BOTTOM: 20px; MARGIN: 0px 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 20px
}
.menu UL A:focus {
	COLOR: #7ab80e
}
.menu UL A:hover {
	COLOR: #7ab80e
}
.menu UL A:active {
	COLOR: #7ab80e
}
.menu UL LI:hover {
	
}
.menu UL LI.sfHover {
	
}
.menu UL.sub-menu A:focus {
	
}
.menu UL.sub-menu A:hover {
	
}
.menu UL.sub-menu A:active {
	
}
.menu UL.children A:focus {
	
}
.menu UL.children A:hover {
	
}
.menu UL.children A:active {
	
}
.menu UL.sub-menu LI:hover {
	
}
.menu UL.sub-menu LI.sfHover {
	
}
.menu UL.children LI:hover {
	
}
.menu UL.children LI.sfHover {
	
}
.menu UL .sf-sub-indicator {
	TEXT-INDENT: -9999px; MARGIN: 0px 0px 0px 8px; WIDTH: 7px; DISPLAY: inline-block; BACKGROUND: url(images/menu-indicator-down.png) no-repeat; HEIGHT: 12px
}
.menu UL UL .sf-sub-indicator {
	POSITION: absolute; TEXT-INDENT: -9999px; WIDTH: 7px; BACKGROUND: url(images/menu-indicator-right.png) no-repeat; HEIGHT: 15px; TOP: 8px; RIGHT: 15px
}
